/* LESS Document */
.btn {
  background-image: url(../images/bg1.jpg);
  line-height: 20px;
}
.div {
  width: 100px;
  height: 100px;
  background: #BC2022;
}
.div .height {
  border: 1px solid #fff;
  background-image: url(../images/bg1.jpg);
  line-height: 20px;
}
