@charset "utf-8";
/* CSS Document */

body,span,h1,h2,h3,h4,h5,h6,article,del,em,img,i,nav,aside,canvas,footer,header,menu,section,ul,li,dl,dt,dd,input{ margin: 0px; padding: 0px; font-size:24px;}
body { font-family: Arial, 'Microsoft YaHei'; font-size:18px; color: #005555; background:url(../images/bg2.JPG) no-repeat center center; position:relative; background-size:100% 100%;}
h1,h2,h3{ font-weight:normal;}
li {list-style: none;}
img {vertical-align: top; border: 0;}
em,i,dfn { font-style: normal;}
input,button{ border:none; outline:none;}
input:focus,button:focus{ outline:none;}
a{ text-decoration:none; color:#333;}
a:focus { outline: none;}
.clear { zoom: 1;}
.clear:after { display: block; clear: both; content: '';}

.box{ width:1314px; height:788px; position:absolute; top:50%; left:50%; margin:-394px 0px 0px -657px; background:url(../images/light.png) no-repeat;}
.box .dot{ width:45px; height:45px; position:absolute; top:50%; left:50%; margin:-23px 0px 0px -22px; transition:0.2s}
.box .dot1{ -webkit-transform:translate(-478px,-65px);}
.box .dot2{ -webkit-transform:translate(-363px,0px);}
.box .dot3{ -webkit-transform:translate(-247px,-87px);}
.box .dot4{ -webkit-transform:translate(-190px,-20px);}
.box .dot5{ -webkit-transform:translate(-105px,53px);}
.box .dot6{ -webkit-transform:translate(186px,-54px);}
.box .dot7{ -webkit-transform:translate(256px,-51px);}
.box .dot8{ -webkit-transform:translate(343px,-111px);}
.box .dot9{ -webkit-transform:translate(434px,10px);}
.box .dot10{ -webkit-transform:translate(-125px,-88px);}
.box .dot11{ -webkit-transform:translate(-434px,10px);}
.box .dot12{ -webkit-transform:translate(-534px,0px);}
.box .dot13{ -webkit-transform:translate(334px,50px);}
.box .dot14{ -webkit-transform:translate(450px,-10px);}
.box .dot15{ -webkit-transform:translate(534px,10px);}

.box .logo{ width:281px; height:266px; position:absolute; top:50%; left:50%; margin:-133px 0px 0px -140px;}


.menu{ width:320px; height:46px; background:url(../images/menu.png) no-repeat; position:absolute; top:5%; left:5%; padding-left:62px; padding-top:16px; z-index:8;}
.menu .M_close{ width:28px; height:28px; position:absolute; right:-10px; top:-15px; display:none; background:url(../images/close2.png) no-repeat;}
.menu_bg{ padding-left:62px; padding-top:16px; width:320px; height:46px; position:absolute; background:url(../images/menu.png) no-repeat; opacity:0.4; filter:alpha(opacity:40);}
.menu_bg ul,.menu ul{ width:310px; height:30px; display:block;}
.menu_bg ul li,.menu ul li{ width:75px; float:left; line-height:30px; text-align:center; font-size:14px;}

.tell{ width:610px; height:50px; position:absolute; right:5%; bottom:5%; transition:1s; text-shadow:-1px -1px 2px rgba(0,0,0,1);}
.tell .number{ width:100%; height:34px;}
.tell .number span{ float:right; font:normal 36px/32px Arial; color:#fff; width:60px; height:32px; margin-top:2px;}
.tell .number i{ width:500px; height:18px; line-height:18px; text-align:right; font-size:18px; color:#fff; float:right; font-style:normal; display:block; margin-top:16px;}
.tell .copy{ width:100%; height:16px; line-height:16px; font-size:12px; color:#fff; text-indent:14px;}


.case1{ width:252px; height:144px; background:url(../images/case_bg.png) no-repeat; position:absolute;
left:5%; bottom:5%; transition:1s;}
.case2{ width:240px; height:132px; background:url(../images/case_bg.gif) no-repeat; position:relative; padding:6px;}
.case3{ width:252px; height:144px; background:url(../images/case_bg2.png) no-repeat; position:absolute; left:0px; top:0px;}

































