@charset "utf-8";
/* CSS Document */

@height:`document.documentElement.clientHeight`;
@width:`document.documentElement.getBoundingClientRect().width`;
@imgNum:6;
@imgHeight:0.3;
@tit1:1.3;
@tit2:1.2;
@tit3:1.1;
@tit4:1;
@tit5:0.9;
@tit6:0.8;
@textsize:0.7;

.blur( @num:0 ){
    -webkit-filter: blur(@num * 1px);-moz-filter: blur(@num * 1px);-o-filter: blur(@num * 1px);-ms-filter: blur(@num * 1px);filter: url(#blur-effect-1);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=@num);
}

.animation( @animation:myfirst , @time:2s , @infinite:infinite , @delay:0s) {/*可以控制动画循环的次数，默认无限循环，停止的时候恢复到动画前的样式*/
  animation:@animation @time;
  -webkit-animation:@animation @time; /* Safari and Chrome */
  animation-iteration-count:@infinite;
  -webkit-animation-iteration-count:@infinite;
  -webkit-animation-delay:@delay;
  -webkit-animation-timing-function:ease-in-out;
}

.animation2( @animation:myfirst , @time:2s , @delay:0s ) {/*动画播放一次之后保持最后一帧的样式，并且停止*/
  animation:@animation @time;
  -webkit-animation:@animation @time; /* Safari and Chrome */
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay:@delay;
  -webkit-animation-timing-function:ease-in-out;
}

.transform(@roate:0deg){
	transform: rotate(@roate);
	-webkit-transform: rotate(@roate);
}



body,div,span,h1,h2,h3,h4,h5,h6,article,del,em,img,i,nav,aside,canvas,footer,header,menu,section,ul,li{margin:0px;padding:0px;}
body { font-family: Arial, 'Microsoft YaHei'; color:#666; background-color:#FFFFFF; width:@width *1px; height:@height *1px; overflow-x:hidden; position:relative;}
li { list-style:none;}
img { vertical-align:top; border:0; }
em,i,dfn{ font-style:normal;}
button { cursor:pointer; transition:0.5s;}
button:focus { border:none; outline:none; opacity:0.6; filter:alpha(opacity=60); }
input { border: none; }
input:focus { border: none; outline: none; }
textarea { border: none; }
textarea:focus { border: none; outline: none; }
.clear { zoom:1; }
.clear:after{ display:block; clear:both; content:'';}

/*按钮样式*/
.button{ background-color:#3c9bbb; color:#FFF; text-align:center; border-radius:3px; border:0px;}
/*图标*/
.backImg2{ background-image:url(http://7xipof.com1.z0.glb.clouddn.com/CCTVicon.png); background-repeat:no-repeat; background-size:50px 25px;}

.page{ width:@width *1px; height:@height *1px; display:none;
    &.hide{ .blur( 5 )};
};

.popup{ width: 100%; height: 20px; line-height: 20px; font-size:@tit5 *1em; color:#333; position: absolute; left: 0px; bottom:50px; opacity:0;.animation2(pop,3s); text-align: center; }


/*.markWelcome{ width:@width *1px; height:@height *1.3px; background-color:rgb(255,255,255); position:absolute; top:0px; left:0px; .animation2(markOut,1s,4s); z-index:9;

    .welcome{ width:360px; position:absolute; left:50%; margin-left:-180px; top:10%;
        .tree{ width:100%; position:relative; margin-top:34px; opacity: 0;
            img{ width:360px;}
            .cloud{ background-image:url(../images/cloud.png); background-repeat:no-repeat; position:absolute; left:50%; top:50%;}
            .cloud1{ width:53px; height:40px; background-size:53px 40px; margin:-75px 0px 0px -141px; .cloud; }
            .cloud2{ width:34px; height:26px; background-size:34px 26px; margin:-48px 0px 0px 37.5px; .cloud; }
            .cloud3{ width:32px; height:25px; background-size:32px 25px; margin:-112px 0px 0px 65px; .cloud; }
        }
        .title{ width:100%; position:relative; opacity:0;
            &.first{ margin-top:37px; }
            &.second{ margin-top:20px; }
            img{ width:100%;}
            .shake{ width:16px; height:17px; background-image:url(http://7xipof.com1.z0.glb.clouddn.com/CCTVshake.png); background-repeat:no-repeat; background-size:16px 17px; position:absolute; left:50%; top:-18px; margin-left:@width * 0.3px; }
        }
    }

    &.active{
         .welcome{
             .tree{ .animation2(treeeIn,0.6s);
                 .cloud1{ .animation(cloud,2s);}
                 .cloud2{ .animation(cloud,3s);}
                 .cloud3{ .animation(cloud,4s);}
             }
             .title{
                 &.first{ .animation2(titOut1,0.6s,0.3s); }
                 &.second{ .animation2(titOut2,0.6s,0.4s); }
                 .shake{ .animation(shake,3s);}
             }
         }
     }

}*/

.logo{ width:250px; height:18px; position:absolute; bottom:30px; left:50%; opacity: 0; margin-left:-125px;.animation2(logoIn,2s);
    img{ width:250px; height:18px;}
}

.banner{ width:100%; height:30%; overflow:hidden; position:relative;
    .img{ width:100%; height:100%; position:absolute;
        ul{ height:100%; position:absolute; left:0px;
            li{ width:100%; height:100%; display:block; float:left; position:relative; overflow:hidden;
                img{ position:absolute;}
            }
        }
    }
    .title{ width:100%; height:50px; font-size:@tit4 *1em; position:absolute; bottom:0px;background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0) 100%);
        span{ line-height : 50px; height:50px; display:block; text-indent: 15px; color:#FFFFFF; width:100%; font-weight:normal; opacity:0; transition: 0.4s; position:absolute; left:0px; top:10px;
            &.active{ top:0px; opacity : 1;}
        }
    }
    .nowBtn{ width:50px; height:15px; position:absolute; bottom:16px; right:10px;
        li{ width:15px; height:15px; display:block; float:left; position:relative;
            &:before{ width:6px; height:6px; background-color:#FFFFFF; content:''; border-radius:50%; position:absolute; left:5px; top: 5px; opacity:0.3;}
            &.active{
                 &:before{ opacity:1;}
            }

        }
    }
}

h3{ text-indent:15px; height:48px; line-height:48px; font-size:@tit4 *1em; font-weight:normal;}
.line1{ width:100%; height:1px; overflow:hidden; background-color:#e5e5e5; line-height:1px;}
.score{ padding-bottom:10px;
	.line{ width:100%; height:32px; line-height:32px;
		span{ width:80px; float:left; height:32px; display:block; font-size:@tit5 *1em; text-indent:15px; margin-right:@width *0.1px;}
		a{ width:32.5px; height:32px; display:block; margin:0px @width *0.01px; float:left; background-position:-22px 5px; .backImg2; transition:0.5s;
			&.active{  background-position:6px 5px;.backImg2;}
		}
	}
}


.textBtn{ width:90%; height:44px; line-height:44px; position:absolute; bottom:10px; left:5%; font-size:@tit3 *1em;.button; background-color:rgb(238, 238, 238); color:#333;}

.label{ padding:0px 10px;
	span{ padding:0px 15px; height:28px; border:1px solid #cdd6e1; border-radius:14px; display:block; float:left; white-space:nowrap; color:#525252; margin:0px 3px 3px 3px; line-height:28px; font-size:@textsize *1em; transition:0.5s;
		&.active{ background-color:#3c9bbb; color:#FFF; border:1px solid #3c9bbb;}
	}
}

.scenicTalk{
	.keyVisual{ width:@width *1px;
		img{ width:100%;}
	}
	.title{ padding:30px 0px 10px; text-indent:15px; font-size:@tit3 *1em; font-weight:bold;}
	.button{ width:(@width *0.5 - 0.5) * 1px; height:110px; background-color:#FFF; float:left; border:none; font-size:@tit4 *1em; line-height:140px; color:#999999;background-position:center 20px;}
	.button1{ background-image:url(http://7xipof.com1.z0.glb.clouddn.com/CCTVcamera1.png); background-repeat:no-repeat; background-size:40px 35px;.button; border-right:1px solid #ddd; text-align: center;
        &:active{ opacity:0.6; }
        input{ display:none; }
    }
	.button2{ background-image:url(http://7xipof.com1.z0.glb.clouddn.com/CCTVcamera2.png); background-repeat:no-repeat; background-size:41px 31px;.button;text-align: center;
        &:active{ opacity:0.6; }
        input{ display:none; }
    }
}

.upload{
	.keyVisual{ width:100%; background-color:#000000; color:#FFF; position:relative;
		img{ width:100%; opacity:0.5;}
		.addlabel{ padding:0px 10px; position:absolute; top:30px;
            h3{ text-indent: 5px;}
			span{ padding:0px 15px; height:28px; border:1px solid #FFF; border-radius:14px; display:block; float:left; white-space:nowrap; color:#FFF; margin:0px 3px 3px 3px; line-height:28px; font-size:@textsize *1em;
				&.active{ background-color:#3c9bbb; color:#FFF; border:1px solid #3c9bbb;}
			}
		}
		.progress{ width:100%; height:30px; background-color:rgba(0,0,0,0.5); position:absolute; top:0px;
			span{ width:1%; height:100%; overflow:hidden; display:block; background-color:rgba(60,155,187,0.7); line-height:30px; text-align:center; color:#FFFFFF;font-size:@textsize *1em;}
		}
	}
	textarea{ padding:8px; width:(@width - 16)*1px; border:none; height:@height *0.2px; background-color:#FFF; line-height:15px; font-size:@textsize *1em; margin-top:10px;}
	input{ padding:8px; width:(@width - 16)*1px; border:none; height:20px; background-color:#FFF; line-height:20px; font-size:@textsize *1em; margin-top:10px; }
}

.scrollBg{ width: @width *1px; height:(@height + 200) *1px; background-color:rgba(0,0,0,0.7); position: absolute; opacity: 0; left:0px; top: 0px; z-index:9; display: none;
    img{ margin-top:40%; width:100%;}
}

.newBtn{ width:73px; height:43px; background-color:rgba(230,0,18,0.6); color:#FFF; line-height:17.5px; padding:7px; padding-top:7px; position:fixed; top:4%; right:0px; z-index:5; border:0px; border-radius:50%; font-size:@textsize *1em; .animation(btnOut,2s,infinite,1s) }
.btnSub{ width:90%; height:44px; line-height:44px; position:absolute; bottom:10px; left:5%; font-size:@tit3 *1em;.button;
	&.unUse{ background-color:#cacaca;}
}



@-webkit-keyframes btnOut
{
    0% { box-shadow: 0px 0px 0px 0px rgba(0,0,0,0),0px 0px 0px 1px rgba(230,0,18,0); }
    10%{ box-shadow: 0px 0px 0px 1px rgba(0,0,0,0), 0px 0px 0px 2px rgba(230,0,18,0.1),}
    20%{ box-shadow: 0px 0px 0px 2px rgba(0,0,0,0), 0px 0px 0px 4px rgba(230,0,18,0.2),}
    40%{ box-shadow: 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 1px rgba(230,0,18,0.1),0px 0px 0px 4px rgba(0,0,0,0), 0px 0px 0px 6px rgba(230,0,18,0.3),}
    50%{ box-shadow: 0px 0px 0px 1px rgba(0,0,0,0), 0px 0px 0px 3px rgba(230,0,18,0.2),0px 0px 0px 5px rgba(0,0,0,0), 0px 0px 0px 8px rgba(230,0,18,0.4),}
    60%{ box-shadow: 0px 0px 0px 2px rgba(0,0,0,0), 0px 0px 0px 5px rgba(230,0,18,0.3),0px 0px 0px 6px rgba(0,0,0,0), 0px 0px 0px 10px rgba(230,0,18,0.5),}
    70%{ box-shadow: 0px 0px 0px 3px rgba(0,0,0,0), 0px 0px 0px 6px rgba(230,0,18,0.4),0px 0px 0px 7px rgba(0,0,0,0), 0px 0px 0px 11px rgba(230,0,18,0.4),}
    80%{ box-shadow: 0px 0px 0px 4px rgba(0,0,0,0), 0px 0px 0px 7px rgba(230,0,18,0.3),0px 0px 0px 8px rgba(0,0,0,0), 0px 0px 0px 12px rgba(230,0,18,0.3),}
    90%{ box-shadow: 0px 0px 0px 5px rgba(0,0,0,0), 0px 0px 0px 6px rgba(230,0,18,0.2),0px 0px 0px 9px rgba(0,0,0,0), 0px 0px 0px 13px rgba(230,0,18,0.2),}
    100%{ box-shadow: 0px 0px 0px 7px rgba(0,0,0,0), 0px 0px 0px 7px rgba(230,0,18,0.1),0px 0px 0px 10px rgba(0,0,0,0), 0px 0px 0px 14px rgba(230,0,18,0),}

}

@-webkit-keyframes pop
{
    0% { bottom:50px; opacity: 0; }
    10% { bottom:60px; opacity: 1; }
    90% { bottom:60px; opacity: 1; }
    1000% { bottom:70px; opacity: 0; }
}







