@import "global";
@import "iconfont.css";

body{}

.wrap{
  width: 1000px;
  margin: 0 auto;
}

.currency{
  &_title{
    padding-top: 65px;
    text-align: center;
    h2{
      @include font(36px,44px,#333);
    }
    span{
      color: #ff9711;
    }
    p{
      @include font(18px,26px,#999);
    }

    &.while{
      h2{
        @include font(36px,44px,#fff);
      }
      span{
        color: #f0ff00;
      }
      p{
        @include font(18px,26px,#ffe7c9);
      }
    }
  }
  &_normalBtn{
    width: 260px;
    height: 50px;
    margin: 50px auto 0;
    background: #ff9711;
    border-radius: 30px;
    text-align: center;
    @include center();
    color: #fff;

    a{
      width: 90%;
      height: 100%;
    }

    span{
      @include font(18px,50px,#fff);
    }

    &.while{
      background: #fff;
      color: #ff9711;
      span{
        color: #ff9711;
      }
    }
  }
}

.topline{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #fff;
  background: url("../img/top_bg.png") repeat-x;
  position: absolute;
  top: 0;
  z-index: 1;

  .logo{
    width: 252px;
    height: 100%;
    float: left;
  }

  .menu{
    float: right;
    height: 100%;

    &_item{
      padding: 0 24px;
      height: 100%;
      float: left;
      border-top: 1px solid transparent;
      @include font(16px,100px,#fff);

      &.active{
        border-top-color: #fff;
      }
    }
  }
}

.banner{
  width: 1920px;
  height: 600px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
  text-align: center;

  .scroll{
    display: flex;
    float: left;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  .dotBox{
    display: inline-block;
    position: relative;
    top: 550px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    line-height: 16px;
    padding: 0 5px;

    span{
      width: 12px;
      height: 12px;
      background: #ff9711;
      margin: 0 4px;
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      border-radius: 50%;

      &:hover{
        background: #ccc;
      }

      &.active{
        background: #fff;
      }
    }
  }
}

.first{
  height: 715px;
  background: #fff;

  &_title{
    text-align: center;
    h2{
      @include font(36px,44px,#333);
    }
    span{
      color: #ff9711;
    }
    p{
      @include font(18px,26px,#999);
    }
  }

  &_main{
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
  }

  &_item{
    width: 270px;
    height: 364px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1);
    margin: 0 15px;
    position: relative;

    .close{
      width: 10px;
      height: 10px;
      border: 1px solid #ff9711;
      text-align: center;
      line-height: 0;
      position: absolute;
      right: 40px;
      top: 15px;
      border-radius: 50%;

      &:before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 2px;
        background: #ff9711;
      }
    }
    
    .btn{
      width: 12px;
      height: 12px;
      background: #ff9711;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: 15px;
    }

    .title{
      padding-top: 50px;
      height: 40px;
      text-align: center;
      line-height: 10px;

      &.promise{
        background: url('../img/promise.png') no-repeat bottom;
      }
      &.demand{
        background: url('../img/demand.png') no-repeat bottom;
      }
      &.include{
        background: url('../img/include.png') no-repeat bottom;
      }

      span{
        display: inline-block;
        width: 100%;
        @include font(24px,24px,#333333);
        font-weight: bold;
      }

      &:after{
        content: '';
        display: inline-block;
        width: 35px;
        height: 4px;
        background: #ff9711;
      }
    }

    .imgbox{
      padding-top: 33px;
      height: 150px;
      text-align: center;

      img{
        max-height:100%;
      }
    }

    .des{
      padding-top: 17px;
      text-align: center;
      @include font(16px,25px,#999999);

      em{
        font-size: 24px;
        color: #ff9711;
      }
    }
  }
}

.second{
  height: 893px;
  background: url("../img/mi_14.jpg") no-repeat center;

  .table{
    width: 735px;
    height: 400px;
    background: #ff9711 url("../img/repeatBg_01.png");
    border-radius: 50px 0 0;
    margin: 47px 0 190px;
    padding: 0 25px 0 40px;

    &_des{
      height: 90px;
      @include center;

      span{
        @include font(16px,25px,#fff);
        text-indent: 2em;
      }
    }

    &_main{
      width: 940px;
      height: 450px;
      background: #fff;
      border-radius: 50px 0;

      .title{
        height: 70px;
        @include font(18px,70px,#ff9711);
        font-weight: bold;

        .item{
          &:first-child{
            color: #ff9711;
          }
        }
      }

      .line{
        height: 50px;
        @include font(18px,50px,#999999);
        &:nth-of-type(4n){
          background: #fff;
        }
        &:nth-of-type(4n-1){
          background: #fff4e6;
        }
        &:nth-of-type(4n-2){
          background: #fff;
        }
        &:nth-of-type(4n-3){
          background: #eee;
        }
      }

      .item{
        width: 218px;
        border-right: 1px solid #eeeeee;
        text-indent: 27px;
        display: inline-block;

        &:first-child{
          padding-left: 18px;
          color: #333333;
        }

        &:last-child{
          border: none;
        }
      }

    }
  }
}

.third{
  height: 972px;

  &_main{
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    .item{
      margin-top: 40px;
      width: 300px;
      height: 290px;
      border-radius: 50px 10px;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
    }

    .imgbox{
      height: 190px;
      border-radius: 50px 10px;
      overflow: hidden;
      background: #eee;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .des{
      padding: 15px 0 0 28px;
      line-height: 0;
      position: relative;

      .arrow{
        position: absolute;
        right: 30px;
        bottom: 0;
        font-size: 26px;
        color: #ff9711;
      }

      span{
        @include font(24px,32px,#333);
        display: inline-block;
        width: 100%;
      }
      em{
        @include font(18px,24px,#eee);
        text-transform: uppercase;
      }
    }

  }
}

.fourth{
  height: 1119px;
  background: url("../img/mi_16.jpg") no-repeat center;

  .nav{
    padding-top: 22px;
    margin-left: -50px;
  }

  .text{
    height: 132px;
    padding-top: 32px;

    .item{
      float: left;
      width: 45%;
      padding-right: 5%;
    }

    .title{
      height: 22px;
      border-left: 2px solid #f0ff00;
      @include font(22px,22px,#fff);
      font-weight: bold;
      padding-left: 10px;

      span{
        @include font(16px,22px,rgba(255,255,255,0.3));
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .main{
      padding-top: 20px;
      @include font(18px,24px,#ffe8ca);
      span{
        color: #fff;
        display: inline-block;
        width: 100%;
      }
    }
  }

  .imgBox{
    height: 466px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    &_item{
      width: 230px;
      height: 233px;
      text-align: center;

      img{
        width: 230px;
        height: 173px;
        background: #333;
        border-radius: 5px;
      }
      span{
        @include font(18px,47px,#fff);
      }

      &:nth-child(2){
        margin-right: 20px;
      }
      &:nth-child(5){
        width: 480px;
        margin-right: 20px;

        img{
          width: 480px;
        }
      }
    }
  }
}

.fifth{
  height: 1074px;
  background: url("../img/repeatBg_02.png");

  &_title{
    height: 67px;
    padding-top: 35px;
    text-align: center;
    line-height: 0;

    span{
      display: inline-block;
      width: 100%;
      @include font(24px,40px,#333333);
    }

    &:after{
      content: '';
      width: 60px;
      height: 2px;
      background: #ff9711;
      display: inline-block;
    }
  }

  &_course{
    height: 323px;
    display: flex;
    justify-content: space-evenly;

    .item{
      width: 220px;
      height: 300px;
      border-radius: 5px;
      background: #ff9917;
      box-shadow: 0 5px 20px 0 rgba(255,151,17,0.3);
      text-align: center;

      img{
        padding-top: 39px;
        width: 80px;
        height: 70px;
      }

      .text{
        padding-top: 28px;
      }

      .name{
        @include font(24px,32px,#fff);
        font-weight: bold;
      }

      .des{
        @include font(18px,26px,#fff);
      }

      .btn{
        display: inline-block;
        margin-top: 29px;
        width: 180px;
        height: 45px;
        background: #d67800;
        @include font(18px,45px,#fff);
        border-radius: 30px;
      }
    }
  }

  &_model{
    height: 270px;
    display: flex;
    justify-content: space-evenly;

    .item{
      width: 260px;
      height: 260px;
      border-radius: 50%;
      background: #999;
      overflow: hidden;
      position: relative;

      &:hover{
        .btn{
          transform: translate(-50%,-50%) scale(1.3) rotate(-360deg);
          opacity: 0;
        }

        .title{
          top: 0;

          .big{
            height: 100px;
            opacity: 0;
          }
        }
      }

      .btn{
        width: 74px;
        height: 74px;
        background: #fff;
        -webkit-background-clip: content-box;
        -moz-background-clip: content-box;
        background-clip: content-box;
        border-radius: 50%;
        padding: 7px;
        border: 1px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        @include center;
        transition: 0.3s;

        span {
          @include font(18px,20px,#ff9917);
        }
      }

      .title{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        transition: 0.5s;

        .small{
          @include font(18px,30px,#fff);
        }

        .big{
          overflow: hidden;
          font-weight: bold;
          transition: 0.5s;
          @include font(24px,130px,#fff);
        }
      }
    }
  }
}

.teacher{
  height: 600px;
  padding-top: 13px;

  &_main{
    padding-top: 50px;
    @include clear;
  }

  &_imgbox{
    width: 217px;
    height: 273px;
    border-radius: 10px 10px 50px;
    background: #333;
    margin: 53px 42px 0 20px;
    float: left;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &_content{
    float: left;
    width: 700px;
    position: relative;

    .leftIcon{
      width: 50px;
      height: 50px;
      background: url('../img/left.png') no-repeat;
      position: absolute;
      top: 0;
      left: -80px;
    }

    .rightIcon{
      width: 50px;
      height: 50px;
      background: url('../img/right.png') no-repeat;
      position: absolute;
      bottom: 90px;
      right: 0;
    }

    .des{
      @include font(16px,25px,#4f535f);
      padding: 25px 0;
    }

    .btn{
      width: 150px;
      height: 42px;
      background: #ff9711;
      border-radius:0 40px 40px;
      text-align: center;
      @include center;

      span{
        @include font(18px,22px,#fff);
      }
    }

    .list{
      margin-top: 50px;
      height: 54px;
      position: relative;

      &_item{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        float: left;
        margin-right: 22px;
      }

      &:after{
        content: '';
        width: 1px;
        height: 0;
        border-width: 0 6px 7px;
        border-style: solid;
        border-color: transparent transparent #ff9711;
        position: absolute;
        top: 110%;
        left: 20px;
      }
    }
  }

  &_title{
    height: 76px;
    border-bottom: 1px solid #e1e3ec;
    @include center;

    span{
      @include font(30px,40px,#333333);
      padding-right: 20px;
    }

    .btn{
      display: inline-block;
      width: 85px;
      height: 29px;
      background: #ff9711;
      border-radius: 15px;
      @include font(14px,29px,#fff);
      text-align: center;
    }
  }
}

.environment{
  height: 820px;
  background: url("../img/mi_31.jpg") no-repeat;

  .imgbox{
    width: 967px;
    height: 408px;
    padding: 30px 21px;
    background: #fff;
    margin-top: 50px;
  }

  .item{
    background: #333;
    border-radius: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
    }

    &:nth-child(1){
      width: 369px;
      height: 159px;
      float: left;
    }

    &:nth-child(2){
      width: 306px;
      height: 285px;
      float: left;
    }

    &:nth-child(3){
      width: 286px;
      height: 285px;
      float: left;
      margin-right: 0;
    }

    &:nth-child(4){
      width: 369px;
      height: 246px;
      float: left;
      margin-bottom: 0;
      margin-top: -126px;
    }
    &:nth-child(5){
      width: 595px;
      height: 120px;
      float: left;
      margin: 0;
    }
  }
}

.history{
  height: 778px;

  &_main{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }

  .item{
    width: 466px;
    height: 428px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    position: relative;
  }

  .name{
    height: 50px;
    padding: 0 50px;
    border-radius: 0 10px 10px 0;
    background: #ff9711;
    position: absolute;
    top: 32px;
    left: -12px;
    @include font(24px,50px,#fff);

    &:before{
      content: '';
      position: absolute;
      top: -24px;
      left: 0;
      width: 0;
      height: 0;
      border-width: 12px 0 12px 12px;
      border-style: solid;
      border-color: transparent transparent #a35c00 transparent;
    }
  }

  .imgbox{
    height: 198px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    margin-bottom: 10px;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .text{
    @include font(18px,22px,#999999);
    padding: 15px 30px 0;
    text-indent: 2em;
  }
}

.login{
  height: 475px;
  background: url("../img/mi_33.jpg") no-repeat;
  padding-top: 84px;

  .left{
    width: 565px;
    float: left;
  }

  .right{
    width: 430px;
    background: rgba(255,255,255,0.88);
    border-radius: 20px;
    float: left;
    height: 400px;
  }

  .title{
    padding-top: 18px;
    height: 93px;
    @include center;
    text-align: center;

    span{
      @include font(30px,40px,#333);
      font-weight: bold;
    }
  }

  .input{
    width: 328px;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #7f7e8b;
    margin: 0 auto 20px;
    @include center;
    line-height: 0;

    .icon{
      width: 67px;
      height: 15px;
      font-size: 30px;
      text-align: center;
      line-height: 16px;
      border-right: 1px solid #7f7e8b;
      color: #7f7e8b;
    }

    input{
      width: 230px;
      height: 24px;
      line-height: 24px;
      margin-left: 15px;
      font-size: 18px;
      color: #727483;
    }

  }

  .btn{
    width: 330px;
    height: 58px;
    border-radius: 30px;
    background: #ff9711;
    margin: 45px auto 0;
    @include font(22px,58px,#fff);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
}

.footer{
  height: 200px;
  background: #282828;
  position: relative;

  &_main{
    height: 143px;
    padding-top: 10px;
    border-bottom: 1px solid #444444;
    position: relative;
  }

  &_item{
    padding-top: 15px;
    height: 44px;

    .icon{
      width: 44px;
      height: 44px;
      float: left;
      padding-right: 15px;
    }

    .text{
      float: left;
      @include center;
      position: relative;

      .online{
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background: #ff9711;
        position: absolute;
        left: 100%;
        bottom: 0;
        @include font(14px,30px,#fff);
        text-align: center;
      }

      span{
        @include font(14px,23px,#999);
      }
    }
  }

  &_logo{
    position: absolute;
    right: 0;
    top: 25px;

    img{
      width: 251px;
      height: 100px;
    }
  }

  &_copyright{
    @include font(14px,46px,#999);
    text-align: center;
  }
}