body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.center {
  font-size: 0;
  line-height: 0;
}
.center:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.center img {
  display: inline-block;
  vertical-align: middle;
}
.header {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
.header .logo {
  width: 166px;
  height: 46px;
  padding: 27px 0;
  margin-left: -46px;
  float: left;
}
.header .location {
  float: left;
  margin-left: 27px;
  width: 93px;
  height: 46px;
  padding: 27px 0;
  display: flex;
  justify-content: space-between;
  font: 300 18px/46px '微软雅黑';
  color: #999;
}
.header .menuBox {
  float: left;
  margin-left: 120px;
  display: flex;
}
.header .menuBox .item {
  display: inline-block;
  padding: 27px 18px;
  font: 14px/46px '微软雅黑';
  color: #666;
  box-sizing: border-box;
}
.header .menuBox .item.active {
  border-top: 2px solid #2a8eff;
}
.header .rightBtn {
  float: right;
  margin-right: -20px;
  padding-top: 35px;
}
.header .rightBtn .btn {
  padding: 0 20px;
  height: 30px;
  border-radius: 15px;
  font: 200 14px/30px '微软雅黑';
  cursor: pointer;
  display: inline-block;
}
.header .rightBtn .btn.checked {
  background: #666;
  color: #fff;
}
.bigImgBox {
  height: 800px;
  background: #f9f9f9;
}
.bigImgBox .item {
  width: 100%;
  height: 100%;
  background: url("../img/image_02.png") no-repeat center;
  background-size: cover;
}
.serverContent {
  height: 598px;
  background: #fff;
}
.serverContent .title {
  height: 50px;
  padding-top: 59px;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
.serverContent .content {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
}
.serverContent .content .item {
  width: 310px;
  height: 360px;
  text-align: center;
}
.serverContent .content .item:hover {
  background: #2f2f31;
}
.serverContent .content .item:hover .icon.security {
  background-position: 0 0;
}
.serverContent .content .item:hover .icon.order {
  background-position: -80px 0;
}
.serverContent .content .item:hover .icon.faster {
  background-position: -160px 0;
}
.serverContent .content .item:hover .itemTitle {
  background: #2f2f31;
}
.serverContent .content .item:hover .itemBtn {
  width: 100px;
  padding: 0 40px;
  background: #fff;
}
.serverContent .content .item:hover .itemBtn:before {
  width: 40%;
  left: 30%;
  background: #000;
}
.serverContent .content .item:hover .itemBtn:after {
  left: 70%;
  border-color: transparent transparent transparent #000;
}
.serverContent .content .item .icon {
  width: 80px;
  height: 60px;
  margin: 49px 0 18px 0;
  display: inline-block;
  background: url("../img/service.png") no-repeat;
}
.serverContent .content .item .icon.security {
  background-position: 0 -60px;
}
.serverContent .content .item .icon.order {
  background-position: -80px -60px;
}
.serverContent .content .item .icon.faster {
  background-position: -160px -60px;
}
.serverContent .content .item .itemTitle {
  font: 200 18px/58px '微软雅黑';
  color: #fff;
  position: relative;
}
.serverContent .content .item .itemTitle:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  background: #666;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
}
.serverContent .content .item .itemText {
  padding-top: 16px;
  font: 14px/24px '微软雅黑';
  color: #b9b9b9;
}
.serverContent .content .item .itemBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 45px;
  display: inline-block;
  position: relative;
}
.serverContent .content .item .itemBtn:before {
  content: '';
  width: 50%;
  height: 2px;
  background: #d6d6d6;
  position: absolute;
  left: 25%;
  top: 50%;
  margin-top: -1px;
}
.serverContent .content .item .itemBtn:after {
  content: '';
  width: 0;
  height: 0;
  border-width: 4px 0 4px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #d6d6d6;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  margin-left: -4px;
  left: 75%;
}
.serverSteps {
  height: 250px;
  background: #f9f9f9;
}
.serverSteps .line {
  padding-top: 63px;
  border-bottom: 1px solid #2f91ff;
}
.serverSteps .stepsItem {
  margin-top: 30px;
  width: 180px;
  height: 102px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  float: left;
  margin-right: 60px;
}
.serverSteps .stepsItem:before {
  content: '';
  width: 0;
  height: 0;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #fff;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -7px;
}
.serverSteps .stepsItem:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #2f91ff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #e4e4e4, 0 0 0 7px #fff;
  position: absolute;
  top: -34px;
  left: 50%;
  margin-left: -3px;
}
.serverSteps .stepsItem:last-child .next {
  display: none;
}
.serverSteps .stepsItem .next {
  position: absolute;
  top: -40px;
  width: 20px;
  height: 20px;
  right: -40px;
  background: url("../img/icon.png") no-repeat -20px 0;
}
.serverSteps .stepsItem .stepsTitle {
  padding-top: 21px;
  font: 18px/34px '微软雅黑';
  color: #333333;
}
.serverSteps .stepsItem .stepsText {
  font: 14px/27px '微软雅黑';
  color: #999999;
}
.serverSteps .stepsItem.active {
  background: #2f91ff;
}
.serverSteps .stepsItem.active:before {
  border-color: transparent transparent #2f91ff;
}
.serverSteps .stepsItem.active:after {
  box-shadow: 0 0 0 4px #c3dfff, 0 0 0 7px #e9f3ff;
}
.serverSteps .stepsItem.active .stepsTitle {
  color: #fff;
}
.serverSteps .stepsItem.active .stepsText {
  color: #c2e2ff;
}
.ueageScene {
  height: 750px;
}
.ueageScene .title {
  height: 50px;
  padding-top: 59px;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */