@charset "utf-8";
/* CSS Document */
@-webkit-keyframes music
{
0%  {-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes shake
{
0%  { opacity:0;}
100%{ opacity:1;}
}

@-webkit-keyframes leftIn
{
0%  {-webkit-transform:translateX(-50px); opacity:0;}
100%{-webkit-transform:translateX(0px); opacity:1;}
}

@-webkit-keyframes topIn
{
0%  {-webkit-transform:translateY(-50px); opacity:0;}
100%{-webkit-transform:translateY(0px); opacity:1;}
}

@-webkit-keyframes rightIn
{
0%  {-webkit-transform:translatex(50px); opacity:0;}
100%{-webkit-transform:translateX(0px); opacity:1;}
}

@-webkit-keyframes bottomIn
{
0%  {-webkit-transform:translateY(50px); opacity:0;}
100%{-webkit-transform:translateY(0px); opacity:1;}
}

@-webkit-keyframes opacityIn
{
0%  { opacity:0;}
100%{ opacity:1;}
}

@-webkit-keyframes opacityInout
{
0%  { opacity:0;}
90%{ opacity:1;}
100%{ opacity:0;}
}

@-webkit-keyframes light
{
0%  { -webkit-transform:translateX(-100px) translateY(50px) scale(0.1,0.1); opacity:0;}
90%{ -webkit-transform:translateX(100px) translateY(-100px) scale(1,1); opacity:1;}
100%{ opacity:0;}
}

@-webkit-keyframes roate
{
0%  { -webkit-transform:rotate(0deg);}
100%{ -webkit-transform:rotate(-15deg);}
}



