body {
  color: #6b6578;
  margin: 0;
  font-family: '微软雅黑';
}
.banner {
  height: 420px;
  background: #000743;
  position: relative;
  text-align: center;
}
.banner:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/banner_mask.png") repeat-x;
  z-index: 1;
  left: 0;
}
.banner img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.banner .dotBox {
  display: inline-block;
  padding: 14px 10px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  transform: translateY(358px);
  -webkit-mask: url('../img/dotMark.png') no-repeat;
}
.banner .dotBox .dot {
  width: 30px;
  height: 8px;
  float: left;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
  font-size: 0;
  position: relative;
}
.banner .dotBox .dot:nth-child(1):focus ~ .active {
  left: 20px;
}
.banner .dotBox .dot:nth-child(2):focus ~ .active {
  left: 70px;
}
.banner .dotBox .dot:nth-child(3):focus ~ .active {
  left: 120px;
}
.banner .dotBox .dot:nth-child(4):focus ~ .active {
  left: 170px;
}
.banner .dotBox .active {
  width: 30px;
  height: 8px;
  background-color: #e15671;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  transition: 0.5s;
}
.first {
  height: 764px;
  background: url("../img/first_bg.jpg") no-repeat center;
  background-size: 100% 100%;
  position: relative;
}
.first:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: url("../img/dot_bg.png") repeat;
  position: absolute;
  top: 0;
}
.first .bead_clear {
  position: absolute;
  z-index: 2;
  background: url("../img/bead_clear.png") no-repeat;
  background-size: 100% 100%;
}
.first .bead_vague {
  position: absolute;
  z-index: 2;
  background: url("../img/bead_vague.png") no-repeat;
  background-size: 100% 100%;
}
.first .firstBead {
  width: 86px;
  height: 86px;
  top: 0;
  left: 50%;
  transform: translateY(-23px) translateX(-696px);
}
.first .secondBead {
  width: 86px;
  height: 86px;
  top: 0;
  left: 50%;
  transform: translateY(190px) translateX(730px);
}
.first .thirdBead {
  width: 80px;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateY(380px) translateX(-800px);
}
.first .fourthBead {
  width: 36px;
  height: 25px;
  top: 0;
  left: 50%;
  transform: translateY(170px) translateX(-645px);
}
.first .fifthBead {
  width: 41px;
  height: 29px;
  top: 0;
  left: 50%;
  transform: translateY(168px) translateX(16px);
}
.first .sixthBead {
  width: 42px;
  height: 30px;
  top: 0;
  left: 50%;
  transform: translateY(157px) translateX(653px);
}
.first .sevenBead {
  width: 50px;
  height: 35px;
  top: 0;
  left: 50%;
  transform: translateY(444px) translateX(-422px);
}
.first .eightBead {
  width: 60px;
  height: 42px;
  top: 0;
  left: 50%;
  transform: translateY(433px) translateX(396px);
}
.first .topPipe {
  height: 50px;
  background: url("../img/top_pipe.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: -1px;
  position: relative;
}
.first .topPipe .decorate {
  width: 20px;
  height: 50px;
  background: url("../img/decorate.png") no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.first .label {
  width: 1200px;
  height: 96px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.first .searchBar {
  width: 1200px;
  height: 98px;
  margin: 0 auto;
  position: relative;
}
.first .searchBar .guide {
  width: 608px;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
.first .searchBar .guide .guideBox {
  width: 194px;
  height: 7px;
  border-radius: 3px;
  background: #928f9c;
  margin-top: 58px;
  position: relative;
}
.first .searchBar .guide .guideBlock {
  width: 174px;
  height: 50px;
  background: linear-gradient(#f8f8f9 80%, #d6d6dc);
  position: absolute;
  bottom: 1px;
  left: 10px;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 -4px 0 0 #e2e2e6;
  line-height: 0;
  text-align: center;
  cursor: pointer;
}
.first .searchBar .guide .guideBlock i {
  width: 30px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/guide.png") no-repeat;
}
.first .searchBar .guide .guideBlock i.newuser {
  background-position: -5px 0;
}
.first .searchBar .guide .guideBlock i.vip {
  background-position: -5px -40px;
}
.first .searchBar .guide .guideBlock i.take {
  background-position: -5px -80px;
}
.first .searchBar .guide .guideBlock span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  vertical-align: middle;
  padding-left: 5px;
}
.first .searchBar .guide .guideBlock.active {
  height: 60px;
}
.first .searchBar .guide .guideBlock.active span {
  height: 60px;
  line-height: 60px;
}
.first .searchBar .searchBox {
  width: 516px;
  height: 70px;
  background: url("../img/search_bg.png") no-repeat;
  position: absolute;
  right: -20px;
  top: 0;
}
.first .searchBar .searchBox input {
  width: 349px;
  height: 36px;
  border: 0;
  background: none;
  outline: none;
  line-height: 36px;
  transform: translate(23px, 14px);
  padding: 0 10px;
  font-size: 18px;
  color: #000;
  float: left;
}
.first .searchBar .searchBox .btn {
  width: 55px;
  height: 52px;
  cursor: pointer;
  float: left;
  transform: translate(35px, 6px);
}
.first .recommend {
  width: 1200px;
  height: 198px;
  background: url("../img/recommend_bg.png") no-repeat;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
.first .recommend .title {
  height: 29px;
  padding: 15px 27px 0;
}
.first .recommend .title .left {
  line-height: 29px;
  font-size: 20px;
  color: #6b6578;
  text-shadow: -1px -1px 1px #ccc, 1px 1px 1px #fff;
  float: left;
}
.first .recommend .title .right {
  line-height: 22px;
  font-size: 16px;
  color: #6b6578;
  float: right;
}
.first .recommend .cardLine {
  width: 1146px;
  height: 102px;
  padding: 13px 27px;
}
.first .recommend .cardLine .card {
  width: 184px;
  height: 90px;
  border-radius: 6px;
  background: #ff9a2f url("../img/icon.png") no-repeat right;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 12px 13px 0;
}
.first .recommend .cardLine .card .cardTitle {
  padding-bottom: 13px;
  font: 14px/24px '微软雅黑';
  color: #fff;
  height: 48px;
}
.first .recommend .cardLine .card .bottomLine {
  height: 24px;
  line-height: 22px;
  color: #fff;
  font-size: 12px;
}
.first .recommend .cardLine .card .bottomLine .leftBtn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 22px;
  border-radius: 11px;
  padding: 0 12px;
  float: left;
  cursor: pointer;
}
.first .recommend .cardLine .card .bottomLine .rightBtn {
  height: 22px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 11px;
  padding: 0 10px;
  float: right;
  cursor: pointer;
}
