html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.cmdBox {
  width: 60%;
  height: 60%;
  background: #0c0c0c;
  border: 1px solid #1883d7;
  margin: 100px 0 0 100px;
  font: 200 14px/18px '宋体';
  color: #cccccc;
  overflow: hidden;
  position: relative;
}
.cmdBox .topTitle {
  height: 30px;
  font: 200 12px/30px '宋体';
  background: #fff;
  color: #000;
  position: relative;
  z-index: 2;
}
.cmdBox .topTitle span {
  float: left;
}
.cmdBox .topTitle .item {
  width: 30px;
  height: 30px;
  float: right;
  background: url("../img/deskIconSm.png") no-repeat;
}
.cmdBox .topTitle .item:hover {
  background-color: #ccc;
  cursor: pointer;
}
.cmdBox .topTitle .item.logo {
  background-position: right 0;
  float: left;
}
.cmdBox .topTitle .item.close {
  background-position: -60px 0;
}
.cmdBox .topTitle .item.max {
  background-position: -30px 0;
}
.cmdBox .topTitle .item.min {
  background-position: 0 0;
}
.cmdBox .main {
  position: absolute;
  bottom: 0;
}
