*{
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
    background: #eaf7ff;
}

.content{
    height: 590px;
    background: url(../img/massif.png) repeat-x left bottom;
    position: relative;
}

.runBg{
    animation: runBg 20s linear infinite;
}

@keyframes runBg{
    from{
        background-position: 8120px bottom;
    }
    to{
        background-position: -600px bottom;
    }
}

.mario{
    position: absolute;
    bottom: 80px;
    left:450px;
    z-index: 10;
}
.mario img{
    height: 100px;
}

.pipe{
    width: 74px;
    height: 50px;
    background:url(../img/obstacle.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 82px;
    left: 1030px;
    animation: pipemove 5s linear;
}

@keyframes pipemove{
    from{
        left:2030px;
    }
    to{
        left:-150px;
    }
}

.scorecard{
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    box-shadow: 3px 3px 5px #666;
    position: absolute;
    top: 30px;
    right: 30px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    z-index: 100;
    color: #c02e28;
    font-size: 20px;
}
.scorecard strong{
    
    font-size: 66px;
}

.jump{
    animation: jump 0.8s ease-in-out;
}


@keyframes jump {
    0%{
        bottom:80px;
    }
    50%{
        bottom:230px;
    }
    100%{
        bottom:80px;
    }
}

.gameover{
    background:rgba(100,100,100,0.7);
    color: #FFF;
    font-size: 100px;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 590px;
    display: none;
    text-shadow: #c02e28 5px 5px 5px;
    z-index: 1001;
}

.cloud{
    width: 141px;
    height: 99px;
    background: url(../img/yun.png);
    position: absolute;
    top: 100px;
    left: 100px;
    animation:cloudRun 30s linear ;
}
@keyframes cloudRun{
    from{
        left:2030px;
    }
    to{
        left: -300px;
    }
}

.paused{
    animation-play-state:paused !important;
}

#btn{
    background: chartreuse;
    font-size: 50px;
    border: 3px solid #c02e28;
    padding: 20px;
    border-radius: 20px;
    outline: none;
    margin: 20px auto;
    display: block;
    width: 200px;
    transition: 1s;
    position: relative;
}

.btnHide {
    opacity: 0;
    z-index:-1;
}

#btn:active{
    color: #FFF;
    box-shadow: 5px 5px 10px green inset;
}