html {
  font-size: 4vw;
}
body {
  margin: 0;
  color: #2d4344;
}
.header {
  height: 4rem;
  display: flex;
}
.header .icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  background: url("../img/filter.png") no-repeat;
  background-size: 4rem 4rem;
}
.header .title {
  flex: 1;
  font-size: 1.2rem;
  text-align: center;
  line-height: 4rem;
}
.menuBox {
  height: 1.26666667rem;
  width: 100vw;
  overflow: auto;
}
.menuBox .menu {
  float: left;
  display: flex;
}
.menuBox .menu span {
  flex: 1;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.13333333rem;
  padding: 0 0.66666667rem;
}
.scene {
  width: 100vw;
  height: 30rem;
  perspective: 500px;
  position: relative;
  perspective-origin: right center;
}
.cardList {
  width: 20rem;
  height: 26.66666667rem;
  position: absolute;
  top: 1.66666667rem;
  left: 2.5rem;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}
.cardList .card.active {
  transform: rotateY(-60deg) rotateX(-10deg) translateX(-16.66666667rem) !important;
}
.cardList .card {
  width: 17.53333333rem;
  height: 26.56666667rem;
  border-radius: 0.33333333rem;
  background: #ae6dba;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: -2rem center;
  transition: 0.5s,opacity 0.1s 0.9s;
  transform: rotateY(0deg) translateX(-0.33333333rem);
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
}
.cardList .card img {
  width: 100%;
  height: 100%;
}
.cardList .card:nth-child(2) {
  background: #8d6ebc;
}
.cardList .card:nth-child(3) {
  background: #bcb26e;
}
.cardList .card:nth-child(4) {
  background: #db8064;
}
.cardList .card:nth-child(5) {
  background: #64d7db;
}
.priceBox {
  height: 4.53333333rem;
}
.priceBox .left {
  width: 13.33333333rem;
  display: inline-block;
  height: 4.53333333rem;
  vertical-align: middle;
  margin-left: 2.16666667rem;
}
.priceBox .left .name {
  height: 1.93333333rem;
  font-size: 1rem;
  color: #2e2e2e;
  line-height: 1.93333333rem;
  display: block;
}
.priceBox .left .price {
  height: 2.6rem;
  font-size: 1.6rem;
  color: #2e2e2e;
  line-height: 2.6rem;
  display: block;
}
.priceBox .btn {
  width: 6.66666667rem;
  height: 2rem;
  border-radius: 1rem;
  background: #5b8fed;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.filter {
  width: 1vw;
  height: 1vh;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  transition: 0.3s,borderRadius 0.2s 0.2s;
  border-radius: 0 0 100% 0;
}
.filter.active {
  border-radius: 0;
  width: 100vw;
  height: 100vh;
}
.filter .screen {
  width: 100vw;
  height: 4rem;
  display: flex;
}
.filter .screen .icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  background: url("../img/close.png") no-repeat;
  background-size: 4rem 4rem;
}
.filter .screen .title {
  flex: 1;
  font-size: 1.2rem;
  text-align: center;
  line-height: 4rem;
}
.filter .priceBlock {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 1.26666667rem;
  margin-bottom: 2rem;
}
.filter .priceBlock .title {
  height: 2.13333333rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2.13333333rem;
}
.filter .priceBlock .adjLine {
  height: 2rem;
  display: flex;
  font-size: 0.8rem;
}
.filter .priceBlock .adjLine .left,
.filter .priceBlock .adjLine .right {
  width: 1.66666667rem;
  line-height: 2rem;
}
.filter .priceBlock .adjLine .line {
  flex: 1;
  position: relative;
  margin: 0 0.66666667rem;
}
.filter .priceBlock .adjLine .line .lineMain {
  width: 100%;
  height: 0.13333333rem;
  border-radius: 0.06666667rem;
  background: #d1d1d1;
  position: absolute;
  top: 50%;
  margin-top: -0.06666667rem;
}
.filter .priceBlock .adjLine .line .lineMain span {
  display: block;
  width: 30%;
  background: #5b8fed;
  height: 0.13333333rem;
}
.filter .priceBlock .adjLine .line .dot {
  width: 0.53333333rem;
  height: 0.53333333rem;
  border-radius: 50%;
  background: #5b8fed;
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -0.26666667rem;
}
.filter .priceBlock .adjLine .line .dot span {
  height: 1.33333333rem;
  border-radius: 0.33333333rem;
  color: #fff;
  line-height: 1.33333333rem;
  text-align: center;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #5b8fed;
  padding: 0 0.33333333rem;
}
.filter .priceBlock .adjLine .line .dot span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.66666667rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.33333333rem;
  border-style: solid;
  border-color: #5b8fed transparent transparent;
}
