html {
  font-size: 10vw;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: top;
}
img[data-src] {
  display: none;
}
img.loaded {
  display: inline-block;
}
body {
  background: #F5F5F5;
  touch-action: none;
}
@font-face {
  font-family: 'myfont';
  src: url('../fonts/myfont.eot');
  src: url('../fonts/myfont.eot') format('embedded-opentype'), url('../fonts/myfont.woff2') format('woff2'), url('../fonts/myfont.woff') format('woff'), url('../fonts/myfont.ttf') format('truetype'), url('../fonts/myfont.svg#myfont') format('svg');
}
.iconLex {
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-family: myfont;
}
.iconThumb:before {
  content: 'b';
}
.iconThumbed:before {
  content: 'a';
}
.iconComment:before {
  content: 'c';
}
.iconShare:before {
  content: 'd';
}
/*店铺信息*/
.shop-inf {
  height: 2rem;
  background: #fff;
  padding: 0.37333333rem 0.4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.shop-inf .logo {
  width: 1.25333333rem;
  height: 1.25333333rem;
  text-align: center;
  border: 1px solid #E1E1E1;
  border-radius: 0.13333333rem;
}
.shop-inf .logo:before {
  content: '';
  height: 100%;
  width: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
.shop-inf .logo img {
  vertical-align: middle;
}
.shop-inf .name-box {
  width: 5.76rem;
  height: 1.25333333rem;
}
.shop-inf .name-box .name {
  height: 0.6rem;
  font: 0.42666667rem/0.6rem Futura-Medium;
  color: #000;
}
.shop-inf .name-box .identification {
  height: 0.37333333rem;
  padding-top: 0.12rem;
}
.shop-inf .name-box .flagship-store-box {
  width: 1.01333333rem;
  height: 0.37333333rem;
  padding: 1px;
  float: left;
  box-sizing: border-box;
  border-radius: 0.18666667rem;
  background: -webkit-linear-gradient(#FA7600, #DA0000);
  background: linear-gradient(#FA7600, #DA0000);
  margin-right: 0.13333333rem;
}
.shop-inf .name-box .flagship-store {
  height: 100%;
  background: #fff;
  border-radius: 0.18666667rem;
  font: 0.26666667rem/0.34666667rem PingFangSC-Medium;
  text-align: center;
  color: #DE0D00;
}
.shop-inf .name-box .store-inf {
  font: 0.32rem/0.37333333rem PingFangSC-Light;
  color: #000;
  margin-right: 0.13333333rem;
}
.shop-inf .follow-btn-box {
  width: 1.65333333rem;
  height: 0.72rem;
  border-radius: 0.36rem;
  background: -webkit-linear-gradient(#FA7600, #DA0000);
  background: linear-gradient(#FA7600, #DA0000);
  text-align: center;
  line-height: 0;
}
.shop-inf .follow-btn-box:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.shop-inf .follow-btn-box span {
  font: 0.32rem PingFangSC-Medium;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
/*主要内容部分*/
.content-box {
  width: auto;
  background: #fff;
  margin-top: 0.26666667rem;
  padding: 0.4rem 0 0.4rem 0.4rem;
}
.content-box .user-inf {
  height: 0.93333333rem;
}
.content-box .user-head {
  width: 0.93333333rem;
  height: 0.93333333rem;
  border-radius: 50%;
  float: left;
  position: relative;
}
.content-box .user-head .user-type {
  width: 0.32rem;
  height: 0.32rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
}
.content-box .user-head > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content-box .user-name-box {
  float: left;
  margin-left: 0.26666667rem;
  height: 0.93333333rem;
}
.content-box .user-name-box:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content-box .user-name-box .user-name-position-box {
  display: inline-block;
  vertical-align: middle;
}
.content-box .user-name-box .user-name {
  font: 0.4rem/0.56rem PingFangSC-Medium;
  color: #1C1717;
  width: 100%;
}
.content-box .user-name-box .user-identification {
  font: 0.29333333rem/0.4rem PingFangSC-Regular;
  color: #F8A120;
}
.content-box .content-main {
  padding-top: 0.37333333rem;
  padding-left: 1.2rem;
  text-align: right;
  line-height: 0;
}
.content-box .content-main .text-box {
  padding-right: 0.4rem;
  text-align: left;
}
.content-box .content-main .text-box.active .flex-box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.content-box .content-main .flex-box {
  font: 0.37333333rem/0.58666667rem PingFangSC-Light;
  color: #1C1717;
  margin-bottom: 0.14666667rem;
}
.content-box .content-main .text-show-btn {
  height: 0.53333333rem;
  padding: 0.2rem 0;
  font: 0.37333333rem/0.53333333rem PingFangSC-Medium;
  color: #1C1717;
  width: 1.33333333rem;
}
.content-box .content-main .img-box {
  width: 8.50666667rem;
  padding: 0.33333333rem 0 0.26666667rem 0;
  display: inline-block;
  text-align: right;
  font-size: 0;
}
.content-box .content-main .img-box .imgItem {
  width: 100%;
  height: 8.50666667rem;
  line-height: 0;
  font-size: 0;
  border: 1px solid #eee;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.05333333rem;
  margin-bottom: 0.05333333rem;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  object-fit: cover;
}
.content-box .content-main .img-box .imgItem:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content-box .content-main .img-box .imgItem img {
  width: 100%;
  vertical-align: middle;
}
.content-box .content-main .img-box.video {
  position: relative;
}
.content-box .content-main .img-box.video video {
  display: none;
}
.content-box .content-main .img-box.video .imgItem {
  margin: 0;
}
.content-box .content-main .img-box.video .center {
  width: 1.73333333rem;
  height: 1.73333333rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content-box .content-main .img-box.single .imgItem {
  margin: 0;
}
.content-box .content-main .img-box.double .imgItem {
  width: 4.22666667rem;
  height: 4.22666667rem;
}
.content-box .content-main .img-box.double .imgItem:first-child {
  margin: 0;
}
.content-box .content-main .img-box.triple .imgItem {
  width: 2.8rem;
  height: 2.8rem;
}
.content-box .content-main .img-box.triple .imgItem:first-child {
  width: 5.65333333rem;
  height: 5.65333333rem;
  margin: 0;
  float: left;
}
.content-box .content-main .img-box.triple .imgItem:first-child:before {
  display: none;
}
.content-box .content-main .img-box.quad .imgItem {
  width: 4.22666667rem;
  height: 4.22666667rem;
}
.content-box .content-main .img-box.quad .imgItem:nth-child(odd) {
  margin: 0;
}
.content-box .content-main .img-box.fivefold .imgItem {
  width: 2.8rem;
  height: 2.8rem;
}
.content-box .content-main .img-box.fivefold .imgItem:first-child {
  width: 4.22666667rem;
  height: 4.22666667rem;
  margin: 0;
}
.content-box .content-main .img-box.fivefold .imgItem:nth-child(2) {
  width: 4.22666667rem;
  height: 4.22666667rem;
}
.content-box .content-main .img-box.fivefold .imgItem:nth-child(3) {
  margin: 0;
}
.content-box .content-main .img-box.more {
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.content-box .content-main .img-box.more .imgItem {
  width: 2.8rem;
  height: 2.8rem;
}
.content-box .content-main .img-box.more .imgItem:nth-child(3n+1) {
  margin: 0;
}
.content-box .content-main .img-title {
  width: 7.70666667rem;
  height: 1.4rem;
  background: #fff;
  position: absolute;
  left: 0.4rem;
  bottom: 0;
  line-height: 0;
  text-align: center;
}
.content-box .content-main .img-title:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content-box .content-main .img-title span {
  font: 0.42666667rem/0.6rem PingFangSC-Medium;
  color: #1C1717;
  display: inline-block;
  vertical-align: middle;
}
.content-box .content-main .function-btn {
  height: 1.02666667rem;
  padding-top: 0.41333333rem;
  text-align: left;
  clear: both;
}
.content-box .content-main .function-btn-item {
  width: 1.73333333rem;
  height: 100%;
  float: left;
  line-height: 0;
  font-size: 0;
  color: #1C1717;
}
.content-box .content-main .function-btn-item:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content-box .content-main .function-btn-item:active .icon {
  transform: scale(1.3);
}
.content-box .content-main .function-btn-item.active {
  color: #F8A120;
}
.content-box .content-main .function-btn-item .icon {
  width: 0.53333333rem;
  height: 0.53333333rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.53333333rem;
  font-size: 0.66666667rem;
  transition: 0.2s;
}
.content-box .content-main .function-btn-item .text {
  height: 0.53333333rem;
  display: inline-block;
  vertical-align: middle;
  font: 0.29333333rem/0.26666667rem Futura-Medium;
  padding-left: 0.08rem;
}
.content-box .content-main .buy-btn {
  height: 100%;
  font-size: 0;
  float: right;
  padding: 0 0.4rem;
}
.content-box .content-main .buy-btn:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content-box .content-main .buy-btn:active {
  background: #eee;
}
.content-box .content-main .buy-btn span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.37333333rem;
  color: #1c1717;
  padding-right: 0.18666667rem;
}
.content-box .content-main .buy-btn .icon {
  width: 0;
  height: 0;
  border-width: 0.13333333rem 0 0.13333333rem 0.13333333rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  display: inline-block;
  vertical-align: middle;
}
/*外框，刷新，加载样式*/
.wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 211;
  margin-top: 1.866667rem;
  margin-bottom: 1.3066667rem;
}
.wrapper .content {
  position: relative;
}
.wrapper .content > .swiper-slide {
  height: auto;
}
.loading {
  font-size: 0.26666667rem;
  text-align: center;
  line-height: 0;
  height: 40px;
}
.loading:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.loading span {
  display: inline-block;
  vertical-align: middle;
}
.loading svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  animation: load 0.4s infinite linear;
}
.refresh {
  position: absolute;
  line-height: 0;
  height: 30px;
  bottom: 100%;
  text-align: center;
  width: 100%;
}
.refresh:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.refresh svg {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.refresh svg.active {
  animation: load 0.4s infinite linear;
}
.Hd-pic {
  position: fixed;
  top: 1.866667rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  will-change: opacity;
  z-index: 50;
}
.Hd-pic .swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  overflow: hidden;
}
.Hd-pic .swiper-pagination {
  font-size: 0.346667rem;
  font-family: Futura-Medium;
  color: #FFFFFF;
  height: 0.533333rem;
  top: 0.533333rem !important;
}
.Hd-pic .swiper-pagination span:nth-child(2) {
  position: relative;
  top: -0.026667rem;
  font-family: FuturaLT-Light;
}
.Hd-pic img {
  display: none;
}
.Hd-pic .loadedImg {
  display: block;
}
.Hd-pic .filter {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.Hd-pic .loadingData {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.videoMsk {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 10;
}
.videoMsk.active {
  display: block;
}
.videoMsk video {
  width: 100%;
  height: 100%;
}
.videoMsk .videoW {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
}
.videoMsk .closeBtn {
  position: absolute;
  top: 0.346667rem;
  left: 0.346667rem;
  width: 0.373333rem;
  height: 0.373333rem;
  background: url(//pic12.secooimg.com/res/common/foundPage/closeVideo.png) no-repeat;
  background-size: cover;
}
[v-cloak] {
  opacity: 0;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
@keyframes load {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
/*# sourceMappingURL=style.css.map */