<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>店鋪</title>
    <!-- 公共样式不可删除 -->
    <!--<link rel="stylesheet" href="//mstatic.secooimg.com/activity2018/all_min/css/activity2018.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--添加听云监控-->
    <!--<script type="text/javascript" src="//mstatic.secooimg.com/js/tingyun-rum.js"></script>-->
</head>

<!-- uuid为页面在erp中的id，仅在erp后台生成的链接中生效，做数据统计用 -->
<body uuid="page_app_${sectionid?c}" class="eventParent">
<div class="activtyApp_c">
    <!--页面主内容-->
    <div class="wrapper swiper-container" id="root">
        <div class="content swiper-wrapper">
            <div class="refresh">
                <svg t="1554350179513" class="icon" style="" viewBox="0 0 1024 1024"><path d="M192 512a32 32 0 0 1 64 0 256 256 0 1 0 256-256 32 32 0 0 1 0-64c176.736 0 320 143.264 320 320s-143.264 320-320 320S192 688.736 192 512z" fill="#333333" p-id="3747"></path></svg>
            </div>
            <div
                v-cloak
                class="content-box swiper-slide"
                v-for="(item,index) in data.data.list"
                :data-video="item.commentVideo==''?'false':'true'"
                :data-analysis="JSON.stringify({
                    's.opid':2413,
                    's.flt':1,
                    's.ot':4,
                    's.fli':index,
                    's.id':item.id,
                    's.acid':item.authorId})"
            >
                <div class="user-inf">
                    <div class="user-head">
                        <img :data-src="tailoShowPic(item.authorPic, 'head')">
                        <div class="user-type">
                            <img :src="item.identityLable">
                        </div>
                    </div>
                    <div class="user-name-box">
                        <div class="user-name-position-box">
                            <h3 class="user-name" v-cloak>{{item.authorName}}</h3>
                            <!--<p class="user-identification">{{
                                item.storeType==1?'品牌官方旗舰店':
                                item.storeType==2?'寺库自营店':
                                item.storeType==3?'单品牌专营店':
                                item.storeType==4?'多品牌专卖店':''
                            }}</p>-->
                        </div>
                    </div>
                </div>
                <div class="content-main">
                    <div class="text-box">
                        <!--v-html="replaceBr(item.title)"-->
                        <div class="flex-box textStatus" v-cloak>{{item.title}}</div>
                        <div
                            class="text-show-btn"
                            @click="swithAction($event)"
                            :data-analysis="JSON.stringify({
                                's.opid':2414,
                                's.ot':2,
                                's.fli':index,
                                's.id':item.id,
                                's.acid':item.authorId})"
                        >全文</div>
                    </div>
                    <div class="img-box" v-if="item.commentVideo==''" data-video="true" :class="picClass(item.imagesJson)">
                        <div class="imgItem"
                             v-for="(imgs,imgkey) in item.imagesJson"
                             @click="showHd($event,item.imagesJson,imgkey,index)"
                             :data-analysis="JSON.stringify({
                                's.opid':2415,
                                's.ot':2,
                                's.fli':index,
                                's.id':item.id,
                                's.acid':item.authorId,
                                's.row':imgkey})"
                        >
                            <img :data-src="tailoShowPic(imgs, imgkey, item.imagesJson.length)">
                        </div>
                    </div>
                    <div class="img-box video" v-else>
                        <video width="101%" height="101%" controls preload="none">
                            <source :src="item.commentVideo"  type="video/mp4">
                            <source :src="item.commentVideo"  type="video/ogg">
                        </video>
                        <div class="imgItem"
                             @click="playVideo($event, item, index)"
                             :data-videosource="item.commentVideo"
                             :data-analysis="JSON.stringify({
                                's.opid':2423,
                                's.ot':4,
                                's.fli':index,
                                's.id':item.id,
                                's.acid':item.authorId})"
                        >
                            <img :data-src="tailoShowPic(item.commentVideoImg)">
                            <img class="center" src="//pic12.secooimg.com/res/common/foundPage/playBtn.png">
                        </div>
                    </div>
                    <div class="function-btn" >
                        <thumb-click
                                :thumbitem="item"
                                :index="index"
                                :userid="userid"
                                :deviceid="deviceId"
                                :analysis="analysis"
                                :dealnum="dealNum">
                        </thumb-click>
                        <div
                                class="function-btn-item"
                                @click="goCommentPage($event, item, index)"
                                :data-analysis="JSON.stringify({
                                    's.opid':2419,
                                    's.ot':2,
                                    's.fli':index,
                                    's.id':item.id,
                                    's.acid':item.authorId})"
                        >
                            <div class="icon iconLex iconComment"></div>
                            <div class="text" v-cloak>{{item.commentCount}}</div>
                        </div>
                        <share-click
                                v-if="!notApp"
                                :shareitem="item"
                                :pagelink="pagelink"
                                :index="index"
                                :userid="userid"
                                :deviceid="deviceId"
                                :analysis="analysis"
                                :dealnum="dealNum">
                        </share-click>
                        <!--<div class="buy-btn">
                            <span>购买</span>
                            <i class="icon"></i>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="loading">
                <svg t="1554350179513" class="icon" style="" viewBox="0 0 1024 1024"><path d="M192 512a32 32 0 0 1 64 0 256 256 0 1 0 256-256 32 32 0 0 1 0-64c176.736 0 320 143.264 320 320s-143.264 320-320 320S192 688.736 192 512z" fill="#333333" p-id="3747"></path></svg>
                <span>正在加载...</span>
            </div>
        </div>

        <!--显示大图-->
        <div class="swiper-container Hd-pic" v-if="swiperStaus" v-cloak @touchmove="swipertouchMove($event)">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(item, imgkey) in swiperdata.images" :class="{'filter': !imageLoadstatus}"
                     :data-analysis="JSON.stringify({
                        's.opid':2415,
                        's.ot':3,
                        's.fli':swiperdata.index,
                        's.id':item.id,
                        's.acid':item.authorId,
                        's.od':storeId,
                        's.row':imgkey})"
                >
                    <div class="swiper-zoom-container"><img :class="{'loadedImg': imageLoadstatus}" :src="item"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="videoMsk" :class="{'active': videoStatus}">
            <div class="closeBtn" @click.stop="closeVideo"></div>
            <div class="videoW">
                <video
                    ref="androidVideo"
                    width="100%"
                    height="100%"
                    controls
                    preload="auto"
                    :poster="androidVdata.commentVideoImg"
                    playsinline="playsinline"
                    :src="androidVdata.commentVideo"
                    :data-analysis="JSON.stringify({
                        's.flt':androidVdata.contentType,
                        's.fli':androidVdata.index,
                        's.id':androidVdata.id,
                        's.acid':androidVdata.authorId})"
                >
                </video>
            </div>
        </div>

    </div>
</div>



<!-- 用作填写分享参数 -->
<div id="share" data-title="" data-description="" data-url="" data-img-url=""></div>

<!-- 分享组件 -->
<script type="text/x-template" id="shareclcik">
    <div
        class="function-btn-item"
        @click.stop="shareOut"
        :data-analysis="JSON.stringify({
            's.opid':2420,
            's.ot':2,
            's.fli':indexs,
            's.id':sharedata.id,
            's.acid':sharedata.authorId})"
    >
        <div class="icon iconLex iconShare"></div>
        <div class="text" v-cloak>{{showcount}}</div>
    </div>
</script>
<!-- //点赞组件 -->
<script type="text/x-template" id="thumbclcik">
    <div
        class="function-btn-item"
        @click.stop="thumbsUp($event)"
        :data-analysis="JSON.stringify({
            's.opid':2418,
            's.ot':2,
            's.fli':indexs,
            's.id':thumbdata.id,
            's.acid':thumbdata.authorId})"
    >
        <div class="icon iconLex iconThumb"></div>
        <div class="text" v-cloak>{{showcount}}</div>
    </div>
</script>

<!--<script src="//mstatic.secooimg.com/activity2018/js/comm/swiper-4.4.2.min.js"></script>-->
<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="js/vue.js" type="text/javascript"></script>
<script src="js/doc.js"></script>
<!-- 页面配置参数 -->
<script type="text/javascript">

    // 分享组件
    Vue.component("share-click", {
        template: "#shareclcik",
        props:{
            shareitem: {
                type: Object
            },
            userid:{
                type: Number
            },
            deviceid:{
                type: String
            },
            pagelink:{
                type: Function,
                default: undefined,
                require: false
            },
            analysis: {
                type: Function,
                default: undefined,
                require: false
            },
            index:{
                type: Number
            },
            dealnum: {
                type: Function,
                default: undefined,
                require: false
            }
        },
        data: function(){
            return {
                sharedata: this.shareitem,
                showcount: 0,
                shareUserid: this.userid,
                shareDeviceId: this.deviceid,
                title: '',
                url: '',
                imgUrl: '',
                regemoRule : /\uD83C[\uDF00-\uDFFF]|\uD83D[\uDC00-\uDE4F]/g,  // 表情匹配正则
                indexs: this.index
            }
        },
        watch:{
            shareitem: function(){
                this.sharedata = this.shareitem;
                this.showcount =  this.dealNum(this.sharedata.shareCount);
            },
            userid: function(){
                this.thumbUserid = this.userid;
            },
            deviceid: function(){
                this.thumbDeviceId = this.deviceid;
            },
            index: function(){
                this.indexs= this.index
            }
        },
        methods:{
            dealNum: function(count){
                return this.dealnum(count, '分享');
            },
            shareOut: function(){
                var that = this;
                this.analysis({
                    dom:$(event.currentTarget),
                    type:'share'
                });
                this.setShareConfig();
                app.shareOption({
                    title: this.title,
                    des: this.title,
                    url: this.url,
                    imgUrl: this.imgUrl
                }, function () {
                    app.nativeShareAction(function (data) {
                        if (data.errorCode == 0 && data.data.state === 'success') {
                            that.sharedata.shareCount ++;
                            that.showcount =  that.sharedata.shareCount;
                            that.recorderShare();
                        }
                    })
                });
            },
            // 设置分享信息
            setShareConfig: function(){
                var sharePicItem = this.sharedata.commentVideo ? this.sharedata.commentVideoImg : this.sharedata.images[0];
                sharepic = ~sharePicItem.indexOf('.gif') ||  ~sharePicItem.indexOf('.bmp') || ~sharePicItem.indexOf('.tiff') ? sharePicItem : (sharePicItem + '_!!200x200c3.jpg');
                var linkParame = '&contentUUID=' + this.sharedata.uuid + '&is2URI=true'+ '&utm_source=faxian_fenxiang_' + this.sharedata.id + '_' +
                    this.sharedata.contentType + '&channel=faxian_fenxiang_' + this.sharedata.id + '_' + this.sharedata.contentType;
                this.url = this.pagelink(this.sharedata)  +'&source=found_fx' + linkParame;
                this.imgUrl = sharepic;
                this.title = this.desEmoji(this.sharedata.title).replace(/(<br>)/,function($1){return $1 =''}) + '…';
            },
            // 表情符号处理app闪退问题
            desEmoji:function(text){
                var that = this;
                var emoji = text.match(that.regemoRule);
                var placeT = text.replace(that.regemoRule, '`').substring(0, 13);
                if(placeT.indexOf("`") >= 0){
                    for(var i=0; i < placeT.length - 1; i++){
                        placeT = placeT.replace(/`/, function(char){
                            return char = emoji[i];
                        })
                    }
                }
                return placeT;
            },
            //记录分享状态
            recorderShare: function(){
                $.ajax({
                    type: 'post',
                    url: '//content.secoo.com/content-service/share/insertShare',
                    data:JSON.stringify({
                        contentId: this.sharedata.id,
                        contentType: this.sharedata.contentType,
                        contentUuid: this.sharedata.uuid,
                        deviceId: this.shareDeviceId,
                        source: '1',
                        userId: this.shareUserid
                    }),
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json',
                    success:function(data){},
                    error:function(){}
                })
            }
        },
        mounted: function(){
            this.showcount =  this.dealNum(this.sharedata.shareCount,'分享');
        }
    })

    //点赞组件
    Vue.component("thumb-click", {
        template: "#thumbclcik",
        props:{
            thumbitem: {
                type: Object
            },
            userid:{
                type: Number
            },
            deviceid:{
                type: String
            },
            index: {
                type: Number
            },
            analysis:{
                type: Function,
                default: undefined,
                required: false
            },
            dealnum: {
                type: Function,
                default: undefined,
                require: false
            },
            logincallback: {
                type: Function,
                default: undefined,
                require: false
            }
        },
        data: function(){
            return {
                thumbdata: this.thumbitem,
                thumbStatus: this.thumbitem.thumbsStatus,
                showcount: 0,
                thumbUserid: this.userid,
                thumbDeviceId: this.deviceid,
                indexs: this.index
            }
        },
        watch:{
            thumbitem: function(){
                this.thumbdata = this.thumbitem;
                this.thumbStatus = this.thumbitem.thumbsStatus;
                this.showcount =  this.dealNum(this.thumbdata.thumbsCount);
            },
            userid: function(){
                this.thumbUserid = this.userid;
            },
            deviceid: function(){
                this.thumbDeviceId = this.deviceid;
            },
            indexs: function(){
                this.indexs = this.index;
            },
        },
        methods:{
            thumbsUp: function(event){
                var that = this;
                var _this = $(event.currentTarget);
                this.analysis({
                    dom:_this,
                    type:'thumbsUp'
                });
                if (this.thumbStatus == true) {
                    event.currentTarget.classList.add('active');
                    event.currentTarget.querySelector('.iconLex').classList.add('iconThumbed');
                    event.currentTarget.querySelector('.iconLex').classList.remove('iconThumb');
                    return app.toast("已点赞")
                };
                if (this.userid) {
                    event.currentTarget.classList.add('active');
                    event.currentTarget.querySelector('.iconLex').classList.add('iconThumbed');
                    event.currentTarget.querySelector('.iconLex').classList.remove('iconThumb');
                    this.thumbdata.thumbsCount++;
                    that.thumbStatus = true;
                    this.showcount = this.dealNum(this.thumbdata.thumbsCount);
                    this.recordThumb();
                }else{
                    that.reLogin(function(){
                        that.logincallback(function(){
                            _this.trigger('click');
                        })
                    })
                }
            },
            // 小程序登录跳转， js库更改后删除
            reLogin: function(callback) {
                if(app.deviceType.miniProgram) {
                    var curLocation = window.location.href.replace(/\&_wxupk[\s\S]*/, '');;
                    wx.miniProgram.navigateTo({
                        url: '/pages/account/loginAccount/loginAccount?_wxurl='+ encodeURIComponent(curLocation)
                    })
                } else {
                    app.login(function () {
                        callback && callback();
                    });
                }
            },
            dealNum: function(count){
                return this.dealnum(count, '赞');
            },
            recordThumb: function(){
                $.ajax({
                    type: 'post',
                    url: '//content.secoo.com/content-service/api/thumbs/addOrDel',
                    data:{
                        authorId: this.thumbdata.authorId,
                        contentUuid: this.thumbdata.uuid,
                        deviceId: this.thumbDeviceId,
                        flag: 1,
                        userId: this.thumbUserid,
                        version: 'H5'
                    },
                    dataType: 'json',
                    success:function(data){},
                    error:function(){
                        app.toast("网络好像有点问题，请稍后再赞")
                    }
                })
            },
        },
        mounted: function(){
            this.showcount =  this.dealNum(this.thumbdata.thumbsCount,'赞');
        }
    })

    //滚动相关
    var pulldownComponent = {
        init: function () {
            var _this = this;
            _this.refreshEnd = false;//是否加载完成
            _this.times = 0;//加载次数
            _this.oriSpeed = 50;//滚动速度
            _this.resistanceRatio = 0.9;//边界下拉时阻力
            _this.refreshDom = document.querySelector('.refresh');
            _this.openScroll();//页面滚动，下拉刷新
            _this.destance = 30;//下拉刷新的距离
        },
        openScroll: function () {
            var _this = this;
            _this.swiper = new Swiper('.swiper-container', {
                speed: _this.oriSpeed,
                slidesPerView: 'auto',
                freeMode: true,
                direction: 'vertical',
                setWrapperSize: true,
                resistanceRatio: _this.resistanceRatio,
                params:{
                    speed:200
                },
                watchSlidesProgress : true,
                watchSlidesVisibility : true,
                on: {
                    touchStart: _this.touchStartEvent,
                    touchMove: _this.touchMoveEvent,
                    touchEnd: _this.touchEndEvent,
                    slideChangeTransitionStart:function(){
                        var visibleSlides = this.el.querySelectorAll('.swiper-slide-visible:not(.loaded)');
                        for(var i=0;i<visibleSlides.length;i++){
                            vm.loadImg(visibleSlides[i]);
                        }
                    },
                    slideChangeTransitionEnd:function(){
                        if((this.activeIndex+1) >= this.slides.length/3*2){
//                            vm.data.data.list.push.apply(vm.data.data.list,newData);
                        }
                        var visibleSlides = this.el.querySelectorAll('.swiper-slide-visible:not(.loaded)');
                        for(var i=0;i<visibleSlides.length;i++){
                            vm.loadImg(visibleSlides[i]);
                        }
                    },
                    slideChange:function(){
                        var dom = $(this.slides[this.realIndex]);
                        vm.analysis({
                            dom:dom,
                            type:'contentDisplay'
                        });
                    }
                }
            });
        },
        touchStartEvent:function(){
            var _this = pulldownComponent;
            if (_this.refreshEnd) {
                _this.refreshDom.classList.remove('active');
                _this.refreshEnd = false;
            }
        },
        touchMoveEvent:function(){
            var _this = pulldownComponent;
            if (_this.swiper.translate > _this.destance) {
                _this.swiper.allowTouchMove = false;
                _this.refreshDom.classList.add('active');
            }
        },
        touchEndEvent:function(){
            var _this = pulldownComponent;
            if (_this.swiper.translate >= _this.destance) {
                _this.swiper.setTransition(this.params.speed);
//                _this.swiper.setTranslate(_this.destance);
                _this.swiper.touchEventsData.isTouched = false;//跳过touchEnd事件后面的跳转(4.0.5)
                _this.refreshDom.querySelector('svg').classList.add('active');
                _this.swiper.allowTouchMove = false;
                setTimeout(function () {//模仿AJAX
                    vm.data.data.list.push.apply(vm.data.data.list,newData);
                    _this.refreshDom.classList.remove('active');
                    _this.refreshDom.querySelector('svg').classList.remove('active');
                    _this.refreshEnd = true;
                    _this.swiper.allowTouchMove = true;
                    _this.swiper.setTranslate(0);
                }, 1000)
            }
        }
    };

    // vue实例配置
    var findOption = {
        el:'#root',
        data:{
            userid: 12837128,     // 内容池id
            currentDate: '', // 服务器时间
            deviceId: '238792ur920i1', // 设备id
            deviceType: '1', // 获取设备类型
            upk:'234934u9fh02i39e8y293',    // upk
            agreePaly: false,  //同意用网络播放视频
            swiperdata: {},        // 大轮播图储存的数据
            swiperStaus: false,     // 控制大轮播图显示隐藏
            imageLoadstatus: false,
            sensorsStatus: true,   // 添加神策的判断条件
            webpStatus: false,  // 是否支持webp
            androidVdata:'',     // 记录视频数据
            contentContainer: '',  // 整体内容swiper实例
            notApp: null,      // 判断是否不在app内， 隐藏分享
            storeId:'23872398',
            videoStatus:false,//视频状态
            videoStopTime:0,
            data:data,
        },
        created:function(){
            var that = this;
            app.newVersion && jsBridge.callHandler('JsCallNativeMethod', {    // 禁止app下拉刷新
                "action":"disableRefresh"
            });
            // 判断是否支持webp
            this.webpStatus = this.webpSupport();
            // app方法 网页不可见时执行， 关闭视频
            window.onStop = function(){
                if(!that.videoStatus) {return}
                if (that.deviceId == 'android') {
                    app.matchVersion({android: '6.1.10'}, function(){
                        that.$refs.androidVideo.pause();
                    })
                }
            }
            // app方法 当页面恢复时 关闭视频
            window.onResume  = function(){
                if(!that.videoStatus) {return}
                if (that.deviceId == 'android') {
                    app.matchVersion({android: '6.1.10'}, function(){
                        that.$refs.androidVideo.pause();
                    })
                }
            }
            //读取app视频是否播放过的状态
            that.readPlayStatus();
            // 判断是不是app外， 是隐藏分享按钮
            this.notApp = app.deviceType.wap || app.deviceType.miniProgram;
        },
        beforeMount:function(){

        },
        mounted:function(){
            pulldownComponent.init();
            this.textandBtn();
            this.loadImg($('.content-box')[0]);
            this.loadImg($('.content-box')[1]);

            var that = this;

            //监听视频事件， 发送相应埋点信息
            that.$refs.androidVideo.onpause = function(){
                that.analysis({
                    dom:$(this),
                    type:'videoPause',
                    data:this.currentTime - that.videoStopTime
                });
                that.videoStopTime = this.currentTime;
            }
            that.$refs.androidVideo.onplay = function(){
                that.analysis({
                    dom:$(this),
                    type:'videoStart'
                });
            }
            that.$refs.androidVideo.onended = function(){
                that.analysis({
                    dom:$(this),
                    type:'videoEnd',
                    data:this.duration - that.videoStopTime
                });
            }

        },
        updated:function(){
            pulldownComponent.swiper.update();
            this.textandBtn();
        },
        methods:{
            // 请求数据公用方法
            dataQuerry: function(parame, callback, errorCallback){
                $.ajax({
                    type: parame.type || 'get',
                    url: parame.url,
                    data: parame.data || {},
                    dataType: parame.dataType || 'json',
                    success:function(data){
                        if(data){
                            callback && callback(data);
                        }
                    },
                    error:function(){
                        errorCallback && errorCallback();
                        app.toast('网络异常,请重试');
                    }
                })
            },
            // 获取数据
            dataAnalysis:function(parame, callback, errorCallback){
                var that = this;
                this.dataQuerry({
                    url: '//content.secoo.com/content-service/api/content/feed/queryFeeds',
                    data:{
                        currentPage: parame.page,
                        currentPageSize: 15,
                        currentTime: "" + that.currentDate + "",
                        deviceId: that.deviceId,
                        userId: that.userid,
                        sunburnUuid: that.sunburnUuid,
                        tabId: that.tabArray[that.tabIndex].id
                    }
                }, function(data){
                    callback && callback(data, parame);
                }, function(){
                    errorCallback && errorCallback();
                })
            },
            //获取设备ID
            getdeviceId: function(callback){
                var that = this;
                if (app.newVersion) {
                    jsBridge.callHandler('JsCallNativeMethod', {
                        "action": "getAppInfo",
                        "needResult": true
                    }, function (result) {
                        that.deviceId = result.data.deviceId;
                        callback && callback();
                    });
                } else {
                    if (that.deviceType == 'ios') {
                        Comm.content.bridge.callHandler('WVJS_acqureDeviceInfomation', {}, function (response) {
                            that.deviceId = response.idfa;
                            callback && callback();
                        });
                    } else if (that.deviceType == 'android') {
                        that.deviceId = JsBridge.jsGetDataFromNativeByKey('imei');
                        callback && callback();
                    } else {
                        that.deviceId = '111111111111111111111';
                        callback && callback();
                    }
                }
            },
            // 记录视频允许在非wifi下播放
            playStatus: function(){
                var that = this;
                sessionStorage.setItem('played', true);
                app.matchVersion({ios: '6.0.18', android: '6.1.9'}, function(){
                    jsBridge.callHandler('JsCallNativeMethod', {
                        "action": "setMemoryItem",
                        "data" : {
                            "key": "played",
                            "value":"true"
                        }
                    });
                })
            },
            //读取视频播放记录的状态
            readPlayStatus: function(){
                var that = this;
                if (that.deviceType == 'wap') {
                    that.agreePaly = sessionStorage.getItem('played');
                } else {
                    app.matchVersion({ios: '6.0.18', android: '6.1.9'}, function(){
                        return jsBridge.callHandler('JsCallNativeMethod', {
                            "action": "getMemoryItem",
                            "data" : {
                                "key": "played",
                            }
                        }, function(result){
                            if (result.errorCode == 0) {
                                that.agreePaly = result.data.value;
                            }
                        });
                    }, function(){
                        that.agreePaly = sessionStorage.getItem('played');
                    })
                }
            },
            // 点击播放视频
            playVideo: function(event, itemData,index){
                var that = this;
                var _this = event.currentTarget;
                var sibVideo = _this.previousElementSibling;
                if(that.agreePaly || !app.newVersion){
                    that.videoAction(_this, sibVideo, itemData, index);
                    return;
                }
                jsBridge.callHandler('JsCallNativeMethod', {
                    "action":"getNetworkInfo",
                    "needResult":true
                }, function (response) {
                    if (response.data.networkType == 0) {
                        app.toast('无网络请稍后播放');
                    }else if(response.data.networkType == 1){
                        that.videoAction(_this, sibVideo, itemData, index);
                    }else{
                        that.commPrompt({title: '正在使用蜂窝网络，播放将产生流量费用'}, function(){
                            that.videoAction(_this, sibVideo, itemData, index);
                            that.agreePaly = true;
                            that.playStatus();
                        })
                    }
                });

            },
            // 视频播放公用结果
            videoAction(cover, video, itemData,index){
                var that = this;
                // if (that.deviceType == 'ios') {
                //     cover.parentNode.classList.add('transparent');
                //     video.play();
                // }else{
                that.videoStatus = true;
                that.androidVdata = itemData;
                that.androidVdata.index = index;
                this.$refs.androidVideo.setAttribute('poster', itemData.commentVideoImg);
                this.$refs.androidVideo.setAttribute('src', itemData.commentVideo);
                this.$refs.androidVideo.play();
                // }
            },
            // 安卓关闭视频
            closeVideo: function(){
                var that = this;
                that.videoStatus = false;
                var _this = this.$refs.androidVideo;
                _this.pause();
                that.videoStopTime = 0;

            },
            // 公共弹窗
            commPrompt: function(parame, callback){
                var that = this;
                if(app.newVersion){
                    jsBridge.registerHandler('sureCallback', function(arg) {
                        callback && callback();
                    })
                    jsBridge.callHandler('JsCallNativeMethod', {
                        'action': 'updateUI',
                        'data': {
                            "viewId": "dialog",
                            "message": parame.title,
                            "visibility":"visible",
                            "cancelable": true,     //用来表示对话框是否可以取消
                            "cancelOnTouchOutside": true,   //用来表示点击对话框外部是否可以取消
                            "buttons": [
                                {
                                    'text': '取消',
                                },
                                {
                                    'text': '确定',//已注册好的事件
                                    'jsHandle': 'sureCallback'
                                }
                            ]
                        }
                    });
                }else{
                    if (that.deviceType == 'ios') {
                        Comm.content.bridge.registerHandler("sureCallback", function(data) {
                            if (data.index == 1) {
                                callback && callback();
                            }
                        });
                        Comm.content.bridge.callHandler('WVJS_showAlertControllerWithInfo', {
                            tag: "62",
                            type: "1",
                            message: parame.title,
                            otherButtonTitles: [
                                "取消",
                                "确定",
                            ],
                            actionHandler: "sureCallback"
                        }, function() {});
                    }else if (that.deviceType == 'android'){
                        JsBridge.alert("", parame.title, {
                            text: "取消",
                            click: function() {

                            }
                        }, {
                            text: "确定",
                            click: function() {
                                callback && callback();
                            }
                        });
                    }
                }
            },
            // 分享/点赞/评论数量显示处理
            dealNum: function(count, text){
                var cellNum = Math.ceil(String(count / 10000).substr(String(count / 10000).indexOf('.')) * 10);
                return count == 0 ? text : count < 10000 ? count : count == 10000 ? '1万' : cellNum >= 10 ? Math.floor(count / 10000) + 1 + '万' : cellNum == 0 ? Math.floor(count / 10000) + '万': Math.floor(count / 10000) + '.' + cellNum + '万';
            },
            // 分享链接和跳转链接
            pagelink: function(parame){
                var that = this;
                var whichTab = '&tabsource=1';
                return  parame.contentType == 1 ?
                    'https://m.secoo.com/appActivity/0830_sharePage.shtml?pageid=2295' + whichTab:
                    parame.contentType == 3 ? 'https://m.secoo.com/appActivity/0830_specialPage_test.shtml?pageid=2046' + whichTab :
                        parame.linkUrl + '&share=nativeShare';
            },
            //埋点
            analysis: function(option){
                var that = this;
                var dom = option.dom;
                var type = option.type || 'contentExposure';//标识埋点类型
                var data = option.data || '';
                /*
                    type类型：
                    点击图片 clickImg
                    滑动图片 slideImg
                    点赞    thumbsUp
                    评论    comment
                    分享    share
                    内容曝光 contentDisplay
                    晒单全文 textShow
                    商品曝光 goodsDisplay
                    商品点击 clickGoods
                    视频曝光 videoDisplay
                    视频播放 videoStart
                    视频暂停/退出 videoPause
                    视频结束 videoEnd
                */
                var pointData = dom.data('analysis');
                pointData['s.paid'] = 2412;//统一s.paid
                pointData['s.od'] = this.storeId;//统一店铺ID

                switch (type) {
                    case 'videoStart':
                        pointData['s.opid'] = 2424;
                        break;
                    case 'videoPause':
                        pointData['s.opid'] = 2425+'_'+data;
                        break;
                    case 'videoEnd':
                        pointData['s.opid'] = 2425+'_'+data;
                        break;
                }

                console.log(pointData,type);
                // app.statistics(pointData);
                if(dom.data('video')){
                    var expointData = {
                        's.paid':2412,
                        's.ot':4,
                        's.opid':2423,
                        's.fli':pointData['s.fli'],
                        's.id':pointData['s.id'],
                        's.acid':pointData['s.acid'],
                        's.od':pointData['s.od']
                    }
                    console.log(expointData,'videoDisplay');
                }
            },
            // 图片样式类名
            picClass: function(imgArr){
                if (imgArr === null) return;
                var className =
                    imgArr.length == 1? "single" :
                    imgArr.length == 2? "double" :
                    imgArr.length == 3? "triple" :
                    imgArr.length == 4? "quad" :
                    imgArr.length == 5? "fivefold" :
                    imgArr.length >= 6? "more" : '';
                return className;
            },
            swipertouchMove: function(event){
                event.preventDefault();
            },
            // 判断webp是否支持
            webpSupport: function(){
                return document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') == 0;
            },
            // 裁剪图片尺寸
            tailoShowPic: function(data,index,len){
                var format = data.substr(data.lastIndexOf('.'));
                if(format == '.gif' || format == '.bmp' || format == '.tiff') return data;
                var extensionName = this.webpStatus ? '.webp' : format;
                if(typeof index != 'number'){
                    var size = index == 'head' ? '_!!80x80c3_80' : index == 'water' ? '_!!638x420c3_80' :
                        index == 'author' ? '_!!120x120c3_80' : index == 'brand' ? '_!!0x0' :'_!!638x420c3_80';
                    return data + size + extensionName;
                }
                switch (len) {
                    case 1:
                        return data + '_!!638x638c3_80' + extensionName;
                        break;
                    case 2:
                    case 4:
                        return data + '_!!300x300c3_80' + extensionName;
                        break;
                    case 3:
                        return index == 0 ? data + '_!!500x500c3_80' + extensionName : data + '_!!200x200c3_80' + extensionName;
                        break;
                    case 5:
                        return index <= 1 ? data + '_!!300x300c3_80' + extensionName : data + '_!!200x200c3_80' + extensionName;
                        break;
                    default:
                        return data + '_!!200x200c3_80' + extensionName;
                }
            },
            // 显示高清大图
            showHd: function(event, data, index, indexs){
                var that = this;
                var imgBg = [];
                this.swiperdata.images = data;
                this.swiperdata.indexs = index;
                this.swiperdata.index = indexs;
                this.swiperStaus = true;
                this.analysis({
                    dom:$(event.currentTarget),
                    type:'clickImg'
                });
                this.$nextTick(function(){
                    document.querySelector('.Hd-pic').style.height=
                    document.querySelector('.wrapper').offsetHeight+'px';
                    document.querySelector('.Hd-pic').style.opacity='1';
                    that.mySwiper = new Swiper('.Hd-pic', {
                        freeMode: false,
                        initialSlide: index,
                        preventClicks : false,
                        pagination: {
                            el: '.swiper-pagination',
                            type: 'fraction',
                            preventClicks : false,
                            renderFraction: function (currentClass, totalClass) {
                                return '<div class="swiper-pagination-inner"><span class="' + currentClass + '"></span>' +
                                    ' <span>| </span> ' +
                                    '<span class="' + totalClass + '"></span></div>';
                            },
                        },
                        spaceBetween: 20,
                        touchMoveStopPropagation: false,
                        zoom:true,
                        observer:true,
                        updateOnImagesReady:true,
                        on: {
                            slideChange: function(){
                                var dom = $(this.slides[this.realIndex]);
                                that.analysis({
                                    dom:dom,
                                    type:'slideImg'
                                });
                            },
                            click: function(){
                                that.swiperStaus = false;
                                that.imageLoadstatus = false;
                            },
                            imagesReady: function(){
                                that.imageLoadstatus = true;
                            },
                        },
                    })
                })
            },
            // 跳转评论页面 TODO:discover.js?
            goCommentPage: function(e, parame, index){
                var type = "晒单";
                this.analysis({
                    dom:$(e.currentTarget),
                    type:'comment'
                });
                discover.goPage('https://m.secoo.com/appActivity/nativePage_commentPage.shtml?pageid=2275&contentUuid='+ parame.uuid + '&contentId=' + parame.id +
                    '&contentType=' + parame.contentType + '&userId=' + parame.authorId, this.upk)
            },
            // 处理br显示
            replaceBr: function(txt) {
                return txt.replaceAll("\r|\n", "</br>");
            },
            // 晒单文字和全文按钮的显示
            textandBtn: function() {
                var that = this;
                var textDom = this.$el.querySelectorAll('.textStatus');
                [].forEach.call(textDom, function(item, i){
                    if (item.offsetHeight > parseFloat(window.getComputedStyle(item).lineHeight) * 4) {
                        item.classList.remove('textStatus');
                        item.parentNode.classList.add('active');
                    }else{
                        item.nextElementSibling.style.display = 'none';
                    }
                })
            },
            // 全文切换
            swithAction: function(event) {
                var target = event.currentTarget;
                target.parentNode.classList.toggle('active');
                this.analysis({
                    dom:$(target),
                    type:'textShow'
                })
                target.innerText = target.innerText == '全文' ? '收起' : '全文';
            },
            //加载图片
            loadImg:function(obj){
                obj.classList.add('loaded');
                var img = obj.querySelectorAll('[data-src]:not(.loaded)');
                for(var i=0;i<img.length;i++){
                    img[i].src = img[i].dataset.src;
                    img[i].classList.add('loaded');
                }
            },
        }
    }

    var vm = null;

    var pageConfig = {

       loadJsArr: [
           // '//pic16.secooimg.com/imagesNew/featuresPic/gxd_vuePro/shopComm.js',
           // '//mstatic.secooimg.com/activity2018/discover/discover.js'
       ],
        // loadJsArr: 'js/shopComm.js',

        //设置页面rem，默认可不传，默认值为当前页面宽度的10分之一
        baseRemVal: 10,

        //是否开启图片懒加载，默认为true
        imgLazyLoad: true,

        //是否开启移动端调试工具，默认false
        openDebug: false,

        //是否加载神策数据统计sdk，默认为true
        useSensors: true,

        //是否在控制台输出神策埋点结果，便于测试埋点成功与否，默认为false
        showSensorsLog: false,

        //是否在控制台输出跳转所需参数（包含跳转数据、埋点数据），为了便于查看输出结果，设置此参数后页面会不能跳转，默认为false
        showGoPageLog: false,

        //是否初始化下载条，默认为true，该属性与当前页链接中包含fromShare=1参数同时存在时，该配置项拥有更高的优先级
        initLoad: true,

        //是否初始化头部导航栏，默认true，只在m站生效
        initHead: false
    }

    //zepto加载完成后的回调，与页面配置中同名函数的择一而用
    function zeptoLoaded(){};

    //全部js加载完成后的回调，与页面配置中同名函数的择一而用
    function jsLoaded() {
        vm = new Vue(findOption);
        document.addEventListener('touchmove', function(e){
            e.preventDefault();
            e.stopPropagation();
        }, { passive: false })

        var shopComment = document.createElement('script');
        shopComment.src = '//pic16.secooimg.com/imagesNew/featuresPic/gxd_vuePro/shopComm.js';
        document.body.appendChild(shopComment);
    }

    function getData(){
        var entry = {
            getDeviceInfo: function (callback) {
                var that = entry;
                that.deviceInfo = {};
                // 获取设备终端
                // if(app.deviceType.android) that.deviceInfo.type=1;
                // if(app.deviceType.ios) that.deviceInfo.type=2;

                // 获取app设备参数
                if(app.deviceType.inApp) {
                    if(app.newVersion) {
                        jsBridge.callHandler('JsCallNativeMethod', {
                            'action': 'getAppInfo',
                            'needResult': true
                        }, function(result) {
                            result.data.deviceId && (that.deviceInfo.deviceId = result.data.deviceId);
                            callback && callback();
                        })
                    } else if(that.deviceType=='android') {
                        !!app.cookie('imei') && (that.deviceInfo.deviceId = app.cookie('imei'));
                        callback && callback();
                    } else {
                        that.deviceInfo.deviceId = that.createUuid();
                        callback && callback();
                    }
                } else {
                    that.deviceInfo.deviceId = that.createUuid();
                    callback && callback();
                }
            },
            createUuid: function () {
                if(app.cookie('deviceId')) {
                    return app.cookie('deviceId');
                } else {
                    var d = new Date().getTime();
                    if (window.performance && typeof window.performance.now === "function") {
                        d += performance.now(); //use high-precision timer if available
                    }
                    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        var r = (d + Math.random() * 16) % 16 | 0;
                        d = Math.floor(d / 16);
                        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                    });
                    app.cookie('deviceId', uuid);
                    return uuid;
                }
            }
        }

        var data = {
            capge:'1',
            diviceId:'',//怎么拿设备号  app.getUpk(callback)//回调里面能拿到UPK 如果UPK为空，则未登录
            pageSize:'15',
            storeId:'23',//店铺ID获取  app.getQueryString(storeId)?
            upk:''//怎么获取
        }
        $.ajax({
            url:'https://content.secoo.com/content-service/api/store/getContent?capge=1&pageSize=15&storeId=23',
            data:data,
            success:function(data){
                console.log('请求成功');
            },
            error:function(rep){
                console.log(rep.msg);
            }
        })
    }
</script>
​
<!-- 主文件不可删除 -->
<script type="text/javascript" src="//mstatic.secooimg.com/activity2018/all_min/js/activity2018.min.js"></script>
</body>
</html>