.contentImgCenter {
  line-height: 0;
  text-align: center;
  font-size: 0;
}
.contentImgCenter:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.contentImgCenter img {
  display: inline-block;
  vertical-align: middle;
}
.header {
  height: 70px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}
.header .logoBox {
  width: 378px;
  height: 100%;
  padding-left: 40px;
  float: left;
  line-height: 0;
  text-align: center;
  font-size: 0;
}
.header .logoBox:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.header .logoBox img {
  display: inline-block;
  vertical-align: middle;
}
.header .navigation {
  float: right;
  padding-right: 20px;
}
.header .navigation .item {
  padding: 0 20px;
  font: 18px/70px '微软雅黑';
  color: #fff;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
}
.header .navigation .item.active {
  border-top: 5px solid #f00;
  line-height: 90px;
}
.next {
  width: 36px;
  height: 51px;
  background: url("../img/mouse.png") no-repeat;
  position: fixed;
  bottom: 54px;
  left: 50%;
  margin-left: -18px;
  z-index: 2;
}
.rightMenu {
  width: 53px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.rightMenu .item {
  width: 53px;
  height: 50px;
  background: #4c4b4b url("../img/icon.png");
  border-bottom: 1px solid #646261;
}
.rightMenu .item:first-child {
  border-radius: 10px 0 0 0;
}
.rightMenu .item:last-child {
  border: none;
  border-radius: 0 0 0 10px;
}
.rightMenu .item.tel {
  background-position: 2px 0;
}
.rightMenu .item.OA {
  background-position: 2px -50px;
}
.rightMenu .item.backTop {
  background-position: 2px -100px;
}
.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.item1 {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_01.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
.item1 .contentBox {
  width: 776px;
  height: 365px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.item1 .contentBox .borderBox1 {
  width: 25px;
  height: 25px;
  border-width: 5px 0 0 5px;
  border-style: solid;
  border-color: #fff;
  position: absolute;
  left: 10px;
  top: 10px;
}
.item1 .contentBox .borderBox2 {
  width: 25px;
  height: 25px;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: #fff;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.item1 .contentBox .title {
  width: 503px;
  height: 97px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-top: 70px;
  line-height: 0;
  text-align: center;
  font-size: 0;
}
.item1 .contentBox .title:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.item1 .contentBox .title img {
  display: inline-block;
  vertical-align: middle;
}
.item1 .contentBox .text {
  padding-top: 15px;
  font: 200 18px/2 '微软雅黑';
  color: #333333;
}
.item2 {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_02.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
.item2 .contentBox {
  width: 1200px;
  height: 193px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -95px 0 0 -600px;
  display: flex;
  justify-content: space-evenly;
}
.item2 .contentBox .item {
  width: 193px;
  text-align: center;
  transition: 0.5s;
}
.item2 .contentBox .item .icon {
  width: 193px;
  height: 193px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 50%;
  background-image: url("../img/rencai.png");
  background-repeat: no-repeat;
}
.item2 .contentBox .item .icon.survey {
  background-position: 0 0;
}
.item2 .contentBox .item .icon.personnel {
  background-position: -193px 0;
}
.item2 .contentBox .item .icon.harvest {
  background-position: -386px 0;
}
.item2 .contentBox .item .icon.platform {
  background-position: -579px 0;
}
.item2 .contentBox .item .itemText {
  display: inline-block;
  padding-top: 30px;
  height: 41px;
  font: bold 24px/41px '微软雅黑';
}
.item2 .contentBox .item:hover {
  transform: translateY(-60px);
}
.item2 .contentBox .item:hover .icon {
  border: none;
  background-image: url("../img/rencai.png");
  background-repeat: no-repeat;
  background-color: #fd2a2a;
}
.item2 .contentBox .item:hover .icon.survey {
  background-position: 0 -193px;
}
.item2 .contentBox .item:hover .icon.personnel {
  background-position: -193px -193px;
}
.item2 .contentBox .item:hover .icon.harvest {
  background-position: -386px -193px;
}
.item2 .contentBox .item:hover .icon.platform {
  background-position: -579px -193px;
}
.item3 {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_03.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
.item3 .menuBox {
  width: 420px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -210px;
  transform: rotate(45deg) scale(0.7);
}
.item3 .menuBox .subItem {
  width: 208px;
  height: 208px;
  border: 1px solid #fd2a2a;
  margin: 0 -1px -1px 0;
  float: left;
  color: #333333;
}
.item3 .menuBox .subItem:hover {
  background: rgba(255, 255, 255, 0.8);
}
.item3 .menuBox .subItem .subMenuBox {
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1px;
}
.item3 .menuBox .subItem .icon {
  width: 65px;
  height: 65px;
  background: url("../img/img_01.png") no-repeat center;
  display: inline-block;
  margin-top: 25px;
}
.item3 .menuBox .subItem .menuText {
  display: inline-block;
  font: 24px/64px '微软雅黑';
}
.item4 {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_04.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.item4 .contenBox {
  height: 360px;
  width: 1200px;
  padding: 60px 108px 34px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 50%;
  top: 213px;
  margin-left: -708px;
}
.item4 .contenBox .info {
  width: 600px;
  height: 100%;
  float: left;
}
.item4 .contenBox .info .item {
  display: flex;
  margin-bottom: 27px;
}
.item4 .contenBox .info .item .text {
  margin: 0 20px;
  padding-top: 19px;
  font: 18px/28px '微软雅黑';
  color: #333;
}
.item4 .contenBox .info .item .text .num {
  color: #fd2a2a;
  font: 700 30px/35px '微软雅黑';
}
.item4 .contenBox .map {
  width: 600px;
  height: 100%;
  float: right;
}
.itemTitle {
  height: 76px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 16%;
  padding: 0 23px;
  transform: translateX(-50%);
}
.itemTitle em {
  color: #fd2a2a;
}
.itemTitle .textCn {
  height: 44px;
  line-height: 44px;
}
.itemTitle .textEn {
  height: 32px;
  line-height: 32px;
}
.itemTitle .line {
  position: absolute;
  width: 195px;
  height: 3px;
  bottom: 9px;
  border-bottom: 1px solid #8b8b8b;
}
.itemTitle .line:before {
  content: '';
  height: 4px;
  width: 84px;
  background: #fd2a2a;
  position: absolute;
}
.itemTitle .leftLine {
  position: absolute;
  width: 195px;
  height: 3px;
  bottom: 9px;
  border-bottom: 1px solid #8b8b8b;
  right: 100%;
}
.itemTitle .leftLine:before {
  content: '';
  height: 4px;
  width: 84px;
  background: #fd2a2a;
  position: absolute;
}
.itemTitle .leftLine:before {
  right: 0;
}
.itemTitle .rightLine {
  position: absolute;
  width: 195px;
  height: 3px;
  bottom: 9px;
  border-bottom: 1px solid #8b8b8b;
  left: 100%;
}
.itemTitle .rightLine:before {
  content: '';
  height: 4px;
  width: 84px;
  background: #fd2a2a;
  position: absolute;
}
.itemTitle .rightLine:before {
  left: 0;
}
/*# sourceMappingURL=style.css.map */